
@{
    ViewData["Title"] = "Login";
}

<h2>會員登入</h2>


<div id="MaskWindow" style="opacity:0.05;background:#000;width:200%;height:200%;z-index:99;position:absolute;top:0;left:0;cursor:no-drop;display:none;"></div>
<div id="img_loading" style="z-index:100;position:fixed;border:none;width:100%;height:100%;left:0;top:50%-250px;cursor:no-drop;display:none;">
    <center><h3><b>處理中...</b></h3><img src="~/images/wait.gif" style="width:250px;" /></center>
</div>

<div class="alert-danger" id="warning_server">
    @TempData["td_server"]
</div>

<form asp-action="Login" method="post" id="fromLogin">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">帳號</label>
        <input id="account" name="account" type="text" value="@ViewData["UserAccount"]" class="form-control" />
        <span id="account_validate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">密碼</label>
        <input id="password" name="password" type="password" value="123456789" class="form-control" />
        <span id="password_validate" class="text-danger"></span>
    </div>

    <div class="form-group">

        <label class="control-label">
            身份
        </label>
        <select id="role" name="role" class="form-control">
            <option value="Customer" selected>一般客戶</option>
            <option value="Vender">店家員工*</option>
            <option value="Admin">系統管理者*</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">驗證碼</label>
        <input id="pin" name="pin" type="text" value="" class="form-control" />
        <span id="pin_validate" class="text-danger">請輸入下圖中的4個數字</span>
        <br />
        @*<img src="~/images/default.jpg" id="img_pin" style="width:150px;height:50px" />*@
        <div id="div_Captcha" style="user-select:none;font-size:30px;border:solid;border-width:1px;padding:2px;width:150px;height:50px;text-align:center;background-color:lightgreen;">@ViewData["Captcha"]</div><br />
        <btn id="btn_ChangeCaptcha" class="btn btn-danger">看不懂請更換</btn><br />
        @*<img src="@VNW.Controllers.CustomersController.DisplayDBImage("~/images/joker.png")"/>*@
        @{
            //string base64Image = ViewData["ImageBase64"] as string;            
        }
        @*<img src="data:image/png;base64,@base64Image" alt="Image" style="width:150px;"/>*@
        @*<img src="GenerateImage" alt="Generated Image" style="border:dashed;border-width:1px;"/>*@

    </div>
    <div class="form-group">
        <b><span id="all_validate" class="text-danger field-validation-valid"></span></b>
    </div>

    <div class="form-group">
        @*<input id="btn_submit" type="submit" value="驗證與登入" class="btn btn-primary" />*@
    </div>
</form>

<div class="form-group">
    @*!NOTICE: do not put htem in the form *@
    <button class="btn btn-info" id="btn_test">驗證並登入</button>
    <button class="btn btn-primary" id="btn_login_ajax" style="display:none;">登入</button>
</div>

<div>
    | 註冊| 忘記密碼 | 忘記帳號
</div>

@functions    
{
    //public async Task<string> GeneratePinImage(string fileName)
    //{
    //    string imageSrc = null;
    //    //...
    //    return imageSrc;
    //}
}


@section endJS{
    @*<!--jquery code-->*@
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log('Set jquery functions');
        var isPass = false;
        $("#btn_test").click(btn_test_click);
        $("#btn_login_ajax").hide();


        var msg = "";

        function checkData() {
            console.log('check data');
            isPass = false;
            console.log($("#account").val());
            console.log($("#password").val());
            msg = ""; //error message

            if ($("#pin").val().length != 4) {
                //alert("warning! you lost the pwd ");
                msg += "lost pin, ";
                $("#pin_validate").text("請輸入4個數字");
                $("#pin").focus();
                //return;
            }
            else {
                $("#pin_validate").text("");
            }

            if ($("#password").val().length < 4) {
                //alert("warning! you lost the pwd ");
                msg += "lost pwd, ";
                $("#password_validate").text("請輸入");
                $("#password").focus();
                //return;
            }
            else {
                $("#password_validate").text("");
            }

            if ($("#account").val().length <= 0) {
                //alert("warning! you lost the account ");
                msg += "lost account, ";
                //$("#account_validate").val("請輸入");
                $("#account_validate").text("請輸入");
                $("#account").focus();
                //return;
            }
            else {
                $("#account_validate").text("");
            }

            if (msg == "")
                isPass = true; //precheck pass
            else
                isPass = false;
        }

        function btn_test_click() { //pretest
            console.log('btn test click');
            isPass = false;
            $("#btn_test").hide();
            checkData();

            if (isPass) {
                $("#all_validate").text("※提示：通過預試");
                $("#btn_login_ajax").show();

                //$("#btn_login_ajax").click();//???
                login_ajax();//auto
            }
            else {
                $("#all_validate").text("※提示：未通過");
                $("#btn_login_ajax").hide();
            }

            console.log("precheck msg: '" + msg + "'");
            console.log("end of btn test click");
            $("#btn_test").show();
        }

        $("#btn_login_ajax").click(login_ajax);

        function login_ajax() {
            isPass = false;
            $("#btn_login_ajax").hide();
            $("#all_validate").text("");
            checkData();
            //isPass = true;
            
            if (isPass) { //precheck pass
                //ajax
                SetBusy();
                //::check role {1A:admin, 2B:shop, 3C:customer}
                var role = $('#role').val();
                console.log('role: ' + role);
                switch (role) {
                    case 'Admin':
                        console.log('admin');
                        alert('功能尚未完成');
                        SetReady();
                        return;
                        break;
                    case 'Vender':
                        console.log('vender shop');
                        //var surl = "../../Employees/shoplogin";
                        var surl = '@(ViewBag.currentHost+ViewBag.currentBase)/Employees/shoplogin'
                        $.ajax({
                            url: surl,
                            type: "POST",
                            dateType: "json",
                            data: {
                                account: $("#account").val(),
                                password: $("#password").val(),
                                pin: $("#pin").val(),
                            },
                            success: function (datar) {
                                console.log("receive datar")
                                console.log(datar)

                                if (datar.result == "PASS") {
                                    //login pass
                                    $("#all_validate").text("※提示：商家" + datar.shopAccount + "登入成功了!!");
                                    $('#warning_server').text("");
                                    SetReady();
                                    //::tansfer to
                                    window.location.href = "../";
                                }
                                else {
                                    //fail case
                                    var failMessage = '※提示：';
                                        //"※提示：找不到符合您輸入的資料! 留意大小寫! " + datar.detail;

                                    switch (datar.errorCode) {
                                        case 101:
                                            failMessage += '資訊不足';
                                            break;
                                        case 102:
                                            failMessage += '沒有符合的帳號(留意大小寫)';
                                            $("#account").focus();
                                            break;
                                        case 103:
                                            failMessage += '驗證碼不合';
                                            $("#pin").focus();
                                            $("#pin").val('');
                                            break;
                                        case 104:
                                            failMessage += '密碼不合';
                                            $("#password").focus();
                                            break;
                                    }

                                    $("#all_validate").text(failMessage);
                                    $('#warning_server').text("");
                                }
                                $("#btn_login_ajax").hide();
                                $("#btn_test").show();
                                SetReady();

                            }, //success
                            error: function (xhr, ajaxOptions, thrownError) {
                                console.log(xhr);
                                var failMessage = '發生未知錯誤';
                                $("#all_validate").text(failMessage);
                                $('#warning_server').text('');
                                SetReady();
                            }//error
                        });
                        return;
                        break;

                    case 'Cusomter':
                    default:
                        try {
                            console.log("getjson...");
                            var surl = "Login";

                            $.ajax({
                                url: surl,
                                type: "POST",
                                dateType: "json",
                                data: {
                                    account: $("#account").val(),
                                    password: $("#password").val(),
                                    pin: $("#pin").val(),
                                },
                                success: function (datar) {
                                    console.log("receive datar")
                                    console.log(datar)

                                    if (datar.result == "PASS") {
                                        //login pass

                                        $("#all_validate").text("※提示：成功了!!");
                                        //window.location.href = "../Comics"; //:: for IIS deploy
                                        window.location.href = "../";
                                    }
                                    else {
                                        //fail case
                                        var failMessage = "※提示：";
                                        switch (datar.errorCode) {
                                            case 101:
                                                failMessage += '資訊不足';
                                                break;
                                            case 102:
                                                failMessage += '沒有符合的帳號(留意大小寫)';
                                                $("#account").focus();
                                                break;
                                            case 103:
                                                failMessage += '驗證碼不合';
                                                $("#pin").focus();
                                                break;
                                            case 104:
                                                failMessage += '密碼不合';
                                                $("#password").focus();
                                                break;
                                        }

                                        $("#all_validate").text(failMessage);
                                        //$("#all_validate").text(failMessage + datar.detail);
                                    }
                                    $("#btn_login_ajax").hide();
                                    $("#btn_test").show();
                                    SetReady();
                                }, //success
                                error: function (xhr, ajaxOptions, thrownError) {
                                    console.log(xhr)
                                    SetReady();
                                }//error
                            });
                            return;
                        }
                        catch (err) {
                            console.log("exception " + err);
                            return;
                        }

                        break;
                }
            }
            console.log("end of btn_login_ajax");
            $("#btn_login_ajax").show();
        }

        $('#fromLogin').submit(function (event) {
            console.log("from submit");
            console.log(msg);
            checkData();
            SetBusy();
            if (!isPass) {
                //alert("someting wrong!");
                event.preventDefault();
                console.log("do not sumbit data to server");
                SetReady();
                //window.history.back();
                return;
            }
        });

        function SetBusy() {
            document.getElementById('img_loading').style.display = 'block';
            document.getElementById('MaskWindow').style.display = 'block';
        }
        function SetReady() {
            document.getElementById('img_loading').style.display = 'none';
            document.getElementById('MaskWindow').style.display = 'none';
        }

        $("#btn_ChangeCaptcha").click(function () {

            var surl = "UpdateCaptcha";
            //window.location.href = surl;
            SetBusy();
            console.log("UpdateCaptcha");
            try {
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",                    
                    success: function (data) {
                        console.log("receive datar")
                        //console.log(datar)
                        if (data.result == "PASS") {
                            //login pass
                            //$("#all_validate").text("※提示：成功了!!");
                            var captcha = data.captcha;
                            //console.log('datar.captcha: ' + datar.captcha);
                            $('#div_Captcha').text(captcha);
                            $("#pin_validate").text("已更新, 請輸入4個數字");
                        }
                        else {
                            //fail case
                            //var failMessage = "※提示：";
                            $("#pin_validate").text("錯誤! 無法取得驗證碼");
                        }
                        SetReady();
                    }, //success
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr)
                        SetReady();
                    }//error
                });
                return;
            }
            catch (err) {
                console.log("exception " + err);
                SetReady();
                return;
            }


        });

    </script>
}

