@{
    //Layout = null;
    ViewData["Title"] = "一般用戶註冊";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3 class="alert-info">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger">@TempData["td_serverWarning"]</h3>
</div>

<div id="MaskWindow" style="opacity:0.05;background:#000;width:200%;height:200%;z-index:99;position:absolute;top:0;left:0;cursor:no-drop;display:none;"></div>
<div id="img_loading" style="z-index:100;position:fixed;border:none;width:100%;height:100%;left:0;top:50%-250px;cursor:no-drop;display:none;">
    <center><h3><b>處理中...</b></h3><img src="~/images/wait.gif" style="width:250px;" /></center>
</div>

<form asp-action="Register" method="post" id="fromRegister">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">帳號 (郵件格式)</label> <b class="text-danger">*</b>
        <input id="NewAccount" name="NewAccount" type="text" value="" class="form-control" placeholder='name@domain.com' />
        <div class="btn btn-info btn-sm" id="btn_precheck">查此帳號是否可用</div>
        <span id="NewAccount_validate" class="text-danger"></span><br />
    </div>
    @*<div class="form-group">
            <label class="control-label">郵件</label> <b class="text-danger">*</b>
            <input type="email" value="" name="mail" class="form-control" placeholder='name@domain.com'/>
    </div>*@
    <div class="form-group">
        <label class="control-label">密碼</label> <b class="text-danger">*</b>
        <input id="NewPassword" name="NewPassword" type="password" value="" class="form-control" placeholder="A-z0-9" />
        <span id="NewPassword_validate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">確認密碼</label> <b class="text-danger">*</b>
        <input id="NewPassword_confirm" name="NewPassword_confirm" type="password" value="" class="form-control" placeholder="輸入一樣的值" />
        <span id="NewPassword_confirm_validate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">驗證碼</label> <b class="text-danger">*</b>
        <table>
            <tr>
                <td><input id="Captcha" name="Captcha" type="text" value="" class="form-control" style="min-width:20px;max-width:100px;margin:4px;" /> </td>
                <td><div id="div_Captcha" style="user-select:none;font-size:25px;border:solid;border-width:1px;padding:2px;width:120px;height:35px;text-align:center;background-color:lightgrey;margin:4px;">@ViewData["Captcha"]</div></td>
                <td> <btn id="btn_ChangeCaptcha" class="btn btn-danger">更換</btn><br /></td>
            </tr>
        </table>
        <span id="validation_Captcha" class="text-danger">請輸入圖中的4個數字</span>
    </div>
    <div class="form-group">
        <b><span id="all_validate" class="alert-danger field-validation-valid"></span></b>
    </div>

    <div class="form-group">
        <div class="btn btn-lg btn-primary" id="btn_submit" style="display:none;">送出註冊資訊</div>
    </div>
</form>

@section endJS{
    <script>
        console.log("JS start");
        var isError = false;
        //::elements
        const NewAccount = document.getElementById('NewAccount');
        const NewAccount_validate = document.getElementById('NewAccount_validate');
        const btn_precheck = document.getElementById('btn_precheck');
        const NewPassword = document.getElementById('NewPassword');
        const NewPassword_Confirm = document.getElementById('NewPassword_confirm');
        const NewPassword_validate = document.getElementById('NewPassword_validate');
        const NewPassword_confirm_validate = document.getElementById('NewPassword_confirm_validate');
        const btn_ChangeCaptcha = document.getElementById('btn_ChangeCaptcha');
        const validation_Captcha = document.getElementById('validation_Captcha');
        const btn_submit = document.getElementById('btn_submit');

        function SetBusy() {
            document.getElementById('img_loading').style.display = 'block';
            document.getElementById('MaskWindow').style.display = 'block';
        }
        function SetReady() {
            document.getElementById('img_loading').style.display = 'none';
            document.getElementById('MaskWindow').style.display = 'none';
        }

        btn_ChangeCaptcha.addEventListener('click', function () {
            @*//var surl = '@ViewData["currentPath"]/Customers/UpdateCaptcha';*@
            var surl = '@Url.Action("UpdateCaptcha", "Customers")';

            console.log('surl: ' + surl);
            SetBusy();
            fetch(surl, {
                method: 'POST',
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                        validation_Captcha.textContent = "讀密碼時發生錯誤A";
                    }
                    console.log('fetch response');
                    SetReady();
                    return response.json();
                })
                .then(data => {
                    console.log('fetch data');
                    console.log(data);
                    //console.log(JSON.stringify(data));
                    if (data.result == 'PASS') {
                        document.getElementById('div_Captcha').textContent = data.captcha;

                    }
                    else {
                        validation_Captcha.textContent = "讀密碼時發生錯誤C";
                    }
                    Captcha.focus();
                })
                .catch(error => {
                    console.error('Fetch operation failed:', error);
                    validation_Captcha.textContent = "讀密碼時發生錯誤B";
                    Captcha.focus();
                    SetReady();
                });
        });

        btn_precheck.addEventListener('click', function () {
            preCheckAccount();
        });

        var global_isPass = false;
        async function preCheckAccount() {
            btn_submit.style.display = 'none';
            if (NewAccount.value == "") {
                document.getElementById('NewAccount_validate').textContent = "請輸入";
                NewAccount.focus();
                return;
            }

            var patternString = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
            console.log('patternString: ' + patternString);
            var pattern = new RegExp(patternString);
            if (NewAccount.value.match(pattern) == null) {
                document.getElementById('NewAccount_validate').textContent = "格式不符";
                NewAccount.focus();
                return;
            }

            @*//var surl = '@ViewData["currentPath"]/Customers/PrecheckId';*@
            var surl = '@Url.Action("PrecheckId", "Customers")';

            console.log('surl: ' + surl);
            SetBusy();
            var postData = { account: NewAccount.value };
            //console.log('postData: ' + postData);
            //postData = JSON.stringify(postData);
            postData = 'account=' + encodeURIComponent(NewAccount.value);
            console.log('postData: ' + postData);
            global_isPass = false;
            await fetch(surl, {
                method: 'POST',
                headers: {
                    //'Content-Type': 'application/json'
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: postData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                        NewAccount_validate.textContent = "發生錯誤A";
                        NewAccount.focus();
                        //return false;
                    }
                    console.log('fetch response');
                    SetReady();
                    return response.json();
                })
                .then(data => {
                    console.log('fetch data');
                    console.log(data);
                    if (data.result == 'PASS') {
                        //::Pass case
                        NewAccount_validate.textContent = "可以";
                        NewPassword.focus();
                        global_isPass = true;
                        btn_submit.style.display = 'block';
                        btn_precheck.style.display = 'none';
                        NewAccount.setAttribute('Readonly', 'true');
                    }
                    else {
                        var failMsg = '不可使用, ';
                        switch (data.code) {
                            case "102":
                                failMsg += '已存在';
                                break;
                            default:
                                failMsg += '格式不合';
                                break;
                        }
                        NewAccount_validate.textContent = failMsg;
                        NewAccount.focus();
                        //return false;
                    }

                })
                .catch(error => {
                    console.error('Fetch operation failed:', error);
                    NewAccount_validate.textContent = "發生錯誤B";
                    NewAccount.focus();
                    SetReady();
                    //return false;
                });
        }

        btn_submit.addEventListener('click', async function () {
            console.log('\n\n====== btn submit ==========');

            var isPass = await precheckAllData();
            console.log('isPass: ' + isPass);
            if (isPass) {
                console.log('--------SUBMIT-------------');
                fromRegister.submit();
            }
            else {

            }
        });

        async function precheckAllData() {
            //var isPass = false;
            //isPass = await preCheckAccount()

            console.log('check pwd');
            if (NewPassword.value.length <= 4) {
                NewPassword.focus();
                NewPassword_validate.textContent = '太短';
                return false;
            }
            else if (NewPassword.value.length >= 19) {
                NewPassword.focus();
                NewPassword_validate.textContent = '太長';
                return false;
            }
            var pattern = new RegExp('^(?=.*[0-9])(?=.*[A-Za-z]).{5,20}$');
            if (NewPassword.value.match(pattern) == null) {
                NewPassword.focus();
                NewPassword_validate.textContent = '不符合格式, 需包含數字與英文';
                return false;
            }
            else
                NewPassword_validate.textContent = '';

            console.log('check pwd confirm');
            if (NewPassword_Confirm.value != NewPassword.value) {
                NewPassword_Confirm.focus();
                NewPassword_confirm_validate.textContent = '不一致';
                return false;
            }
            else
                NewPassword_confirm_validate.textContent = '';

            if (Captcha.value.length != 4) {
                Captcha.focus();
                validation_Captcha.textContent = '請輸入4個數字';
                return false;
            }

            //::precheck captcha from db
            console.log('precheck captcha from db');
            if (await PreCheckCaptchaDB() != 'PASS') {
                console.log('check captcha fail 402');
                validation_Captcha.textContent = "不相符";
                Captcha.focus();
                return false;
            }

            //::double check acount, move it to last item for reducing server loading
            console.log('preCheckAccount before');
            await preCheckAccount()
            console.log('global_isPass: ' + global_isPass);
            if (!global_isPass) {
                return false;
            }

            //::pass case
            return true;
        }

        async function PreCheckCaptchaDB() {
            @*//var surl = '@ViewData["currentPath"]/Customers/CheckCaptcha';*@
            var surl = '@Url.Action("CheckCaptcha", "Customers")';
            console.log(' ' + surl);
            var _res = 'tbd';
            var postData = 'Captcha=' + encodeURIComponent(Captcha.value);
            SetBusy();
            await fetch(surl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: (postData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                        validation_Captcha.textContent = "驗證時發生錯誤A";
                    }
                    console.log('fetch response');
                    SetReady();
                    return response.json();
                })
                .then(data => {
                    console.log('fetch data');
                    console.log(data);
                    //console.log(JSON.stringify(data));
                    if (data.result == 'PASS') {
                        _res = 'PASS';
                    }
                    //Captcha.focus();
                    SetReady();
                })
                .catch(error => {
                    console.error('Fetch operation failed:', error);
                    validation_Captcha.textContent = "讀密碼時發生錯誤B";
                    //Captcha.focus();
                    SetReady();
                });
            return _res;
        }

        console.log("JS end");
    </script>
}