@model VNW.Models.Employee

@{
    ViewData["Title"] = "員工個人資料";
}

<div>
    @ViewBag.ShopAccount 歡迎您
</div>

<h2>@ViewData["Title"]</h2>


<h3 class="alert-info">@TempData["td_serverMessage"]</h3>
<h3 class="alert-danger">@TempData["td_serverWarning"]</h3>

<p></p>
<div class="row">
    <div class="col-md-4">
        <table class="table table-hover table-striped">
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Id)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Email)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Name)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Title)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Extension)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Extension)
                </td>
            </tr>

            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.PhotoPath)</b>
                </td>
                <td>
                    @*@Html.DisplayFor(model => model.PhotoPath)*@
                    @if (Model.PhotoPath != null)
                    {
                        <img src="~/images/employee/@Model.PhotoPath" style="width:100px;" />
                    }
                </td>
            </tr>

            <tr>
                <td>
                    <b>直屬主管 @*@Html.DisplayNameFor(model => model.ReportsTo)*@</b>
                </td>
                <td>
                    @*@Html.DisplayFor(model => model.ReportsTo)*@
                    @if (Model.ReportsToNavigation != null)
                    {

                        <a asp-action="Details" asp-route-id="@Model.ReportsToNavigation.Id">
                            @Model.ReportsToNavigation.Name
                            (分機 @Model.ReportsToNavigation.Extension)
                        </a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <b>直屬下屬@*@Html.DisplayNameFor(model => model.InverseReportsToNavigation)*@</b>
                </td>
                <td>
                    @if (Model.InverseReportsToNavigation != null)
                    {
                        foreach (var e in Model.InverseReportsToNavigation)
                        {
                            <div>
                                <a asp-action="Details" asp-route-id="@e.Id">
                                    @e.Name (分機 @e.Extension)
                                </a>
                            </div>
                            @*@if (ViewBag.ShopAccount == Model.Email)//if (e.ReportsTo == Model.Id)
                            {
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@e.Id">修改下屬基本資料</a>
                            }*@
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">回到員工清單</a>
    @if (ViewBag.ShopAccount == Model.Email)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">修改個人基本資料</a>
        <a asp-action="EditPassword" asp-route-id="@Model.Id" class="btn btn-danger">修改個人密碼</a>
    }

    @if (Model.ReportsToNavigation != null)
    {
        @if (ViewBag.ShopAccount == Model.ReportsToNavigation.Email)
        {
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">修改下屬基本資料</a>
        }
    }



</div>

<div>    

</div>
