@model VNW.Models.Employee

@{
    ViewData["Title"] = "修改員工資料";
}

<h2>@ViewData["Title"]</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label> (不可修改)
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="PasswordEncoded" class="control-label"></label> (暫不開放修改)*@
                @*<input asp-for="PasswordEncoded" class="form-control" type="password" readonly/>*@
                @*<input type="password" id="oldPassword" class="form-control" readonly value="@Model.PasswordEncoded" />*@
                @*<input type="hidden" asp-for="PasswordEncoded" />*@
                @*<span asp-validation-for="PasswordEncoded" class="text-danger"></span>*@
                @*<br/><a class="btn btn-danger" asp-action="EditPassword" asp-route-id="@Model.Id">修改密碼</a>*@
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extension" class="control-label"></label>
                <input asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportsTo" class="control-label"></label>
                <input asp-for="ReportsTo" class="form-control" readonly />
                <span asp-validation-for="ReportsTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" readonly />
                @if (Model.PhotoPath != null)
                {
                    <img src="~/images/employee/@Model.PhotoPath" style="width:100px;" />
                }
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
                <div style="align-self:center; text-align:center;border:dashed;border-width:1px;border-radius:10px;width:80%;">
                    <input type="file" id="fileInput" name="file" accept="image/*">
                    <btn id="uploadButton" class="btn btn-info">上傳圖片</btn>
                    <div id="status">...</div>
                    <div id="imgPreview"></div>
                </div>

            </div>
            <div class="form-group">
                <input type="reset" value="取消恢復" class="btn btn-default" />
                <input type="submit" value="送出更新" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到清單</a> |
    <a asp-action="Details" asp-route-id="@Model.Id">回到細節</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section topCSS{
    <style>
    </style>
}

@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log('jquery start');
        $(document).ready(function () {
            console.log('document ready');
            var ImagePath = '@Url.Content("~/images/employee/")';

            $('#uploadButton').click(function () {
                var fileInput = $('#fileInput')[0];
                var file = fileInput.files[0];

                if (!file) {
                    $('#status').text('請選擇一個檔案');
                    return;
                }
                //console.log('file ' + file);
                $('#status').text('selected file');

                var formData = new FormData();
                formData.append('file', file);
                var eid = @Model.Id;
                formData.append('eid', eid);
                var surl = '@Url.Action("UploadFile", "Employees")';
                $.ajax({
                    url: surl,
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log('response: ' + response);
                        console.log('上傳成功: ' + response.fileName);
                        $('#status').text('上傳成功: ' + response.fileName);

                        console.log('old val: ' + $('#PhotoPath').val());
                        $('#imgPreview').text(''); //reset
                        if (response.result == 'PASS') {
                            //::real PASS case
                            $('#PhotoPath').val(response.fileName);
                            console.log('updated val: ' + $('#PhotoPath').val());
                            $('#imgPreview').append('<img src="' + ImagePath + response.fileName + '?' + response.timestamp + '" style="width: 100px; " />');
                        }
                        else {
                            $('#imgPreview').append('something is wrong: ' + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#status').text('上傳失敗: 檔案可能太大或不支援 ' + error);
                    }
                });
            });
        });

        console.log('jquery end');
    </script>
}
