@model VNW.Models.Employee

@{
    ViewData["Title"] = "修改員工密碼";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3 class="alert-info">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger">@TempData["td_serverWarning"]</h3>
</div>

@if (Model == null)
{
    <h3 class="alert-danger">未明錯誤, 資料是空的</h3>
    return;
}

ID:  @Model.Id <br />
員工姓名: @Model.Name <br />
郵件帳號: @Model.Email <br />
<hr />

<div class="row">
    <div class="col-md-4">

        <form id="form_EditPassword" asp-action="EditPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@

            <div class="form-group">
                <label class="control-label">原本密碼</label> <b class="text-danger">*</b>
                <input id="OldPassword" name="OldPassword" class="form-control" type="password" />
                <span id="validation_OldPassword" class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">新密碼</label> <b class="text-danger">*</b>
                <input id="NewPassword" name="NewPassword" class="form-control" type="password" />
                <span id="validation_NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">新密碼確認</label> <b class="text-danger">*</b>
                <input id="NewPassword_Confirm" name="NewPassword_Confirm" class="form-control" type="password" />
                <span id="validation_NewPassword_Confirm" class="text-danger">需相同</span>
            </div>
            <div class="form-group">
                <label class="control-label">驗證碼</label> <b class="text-danger">*</b>
                <p><input id="Captcha" name="Captcha" class="form-control" />
                <span id="validation_Captcha" class="text-danger"></span></p>
                <p><img src="~/images/default.jpg" style="height:50px;width:200px;" /></p>

            </div>
            <div class="form-group">
                <div class="btn btn-primary" id="btn_precheck">預先驗證</div>
                <div class="btn btn-danger" id="btn_submit">送出更新</div>
                @*<input id="btn_submitInput" type="submit" value="送出更新" />*@
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到清單</a> |
    <a asp-action="Details" asp-route-id="@Model.Id">回到細節</a>
</div>

@section endJS{
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
    <script>
        console.log("JS start");
        var isError = false;
        //::elements
        var OldPassword = document.getElementById('OldPassword');
        var NewPassword = document.getElementById('NewPassword');
        var NewPassword_Confirm = document.getElementById('NewPassword_Confirm');
        var Captcha = document.getElementById('Captcha');
        var btn_submit = document.getElementById('btn_submit');
        var btn_precheck = document.getElementById('btn_precheck');

        //var btn_submitInput = document.getElementById('btn_submitInput');
        var btn_submit = document.getElementById('btn_submit');

        function checkValues() {
            console.log('checkValues()');
            var isFail = false;

            if (OldPassword.value == "" || OldPassword.value.length <= 3) {
                console.log('fail!');
                document.getElementById('validation_OldPassword').textContent = "長度太短";
                OldPassword.focus();
                isFail = true;
                ShowSubmit(false);
                return;
            }
            else if (OldPassword.value.length >= 25) {
                console.log('fail!');
                document.getElementById('validation_OldPassword').textContent = "長度太長";
                OldPassword.focus();
                isFail = true;
                ShowSubmit(false);
                return;
            }
            else {
                //console.log("test: " + CompareOldPasswordFromDB());
                //var isPassCheckOldPwd = CompareOldPasswordFromDB();
                //if (!isPassCheckOldPwd) {
                //    document.getElementById('validation_OldPassword').textContent = "舊密碼不相符";
                //    OldPassword.focus();
                //    isFail = true;
                //}
                //else {
                document.getElementById('validation_OldPassword').textContent = "";
                //}

                //Fetch_CompareOldPasswordFromDB();
                //::notice async wait
            }

            if (NewPassword.value == "" || NewPassword.value.length <= 5) {
                console.log('fail!');
                document.getElementById('validation_NewPassword').textContent = "太短";
                NewPassword.focus();
                isFail = true;
                ShowSubmit(false);
                return;
            }
            else if (NewPassword.value.length > 20) {
                document.getElementById('validation_NewPassword').textContent = "太長";
                NewPassword.focus();
                isFail = true;
                ShowSubmit(false);
                return;
            }
            else if (!checkPWDFormat(NewPassword.value)) {
                document.getElementById('validation_NewPassword').textContent = "請包含英文字母(A-Z或a-z)與數字(0-9)";
                isFail = true;
                ShowSubmit(false);
                return;
            }
            else
                document.getElementById('validation_NewPassword').textContent = "";

            if (NewPassword.value != NewPassword_Confirm.value) {
                document.getElementById('validation_NewPassword_Confirm').textContent = "不一致";
                NewPassword_Confirm.focus();
                isFail = true;
                ShowSubmit(false);
                return;
            }
            else
                document.getElementById('validation_NewPassword_Confirm').textContent = "";


            if (Captcha.value == "" || Captcha.value.length < 4) {
                document.getElementById('validation_Captcha').textContent = "長度不相符";
                Captcha.focus();
                isFail = true;
                ShowSubmit(false);
                return;
            }
            else {
                document.getElementById('validation_Captcha').textContent = "";
                ShowSubmit(true);
            }

            //if (isFail) {
            //    //btn_submitInput.style.display = 'none';
            //    btn_submit.style.display = 'none';
            //}
            //else {
            //    //btn_submitInput.style.display = '';
            //    btn_submit.style.display = '';
            //}
            Fetch_CompareOldPasswordFromDB();
        }

        function ShowSubmit(_isShow) {
            if (_isShow != true) {
                //btn_submitInput.style.display = 'none';
                btn_submit.style.display = 'none';
            }
            else {
                //btn_submitInput.style.display = '';
                btn_submit.style.display = '';
            }
        }

        btn_submit.addEventListener('click', function () {
            checkValues();
            //if(isPass)
            document.getElementById('form_EditPassword').submit();
        });

        btn_precheck.addEventListener('click', function () {
            checkValues();
        });

        function CompareOldPasswordFromDB() {
            //::call api
            var _isPass = false;

            var surl = '../CheckOldPassword';
            console.log('call api ' + surl);

            var postData = 'id=' + encodeURIComponent(@Model.Id) + '&OldPassword=' + OldPassword.value;
            console.log(' postData: ' + postData);//debug only
            var xhr = new XMLHttpRequest();
            xhr.open('POST', surl, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onload = function () {
                console.log('xhr on load');
                if (xhr.status >= 200 && xhr.status < 300) {
                    var data = JSON.parse(xhr.responseText);
                    console.log(xhr.responseText);
                    if (data.result == "PASS") {
                        console.log('PASS');
                        _isPass = true;
                        //SetReady();
                        return _isPass;
                    }
                    else {
                        _isPass = false;
                        return _isPass;
                    }
                }

            };
            xhr.onerror = function () {
                //console.log('xhr on error');
                console.error('Request failed');
            };

            console.log('before send data');
            xhr.send(postData);
            console.log('after send data');
        }

        function Fetch_CompareOldPasswordFromDB() {
            var _isPass = false;

            var surl = '../CheckOldPassword';
            console.log('Fetch_CompareOldPasswordFromDB calls api ' + surl);
            var postData = 'id=' + encodeURIComponent(@Model.Id) + '&OldPassword=' + OldPassword.value;
            console.log(' postData: ' + postData);//debug only

            fetch(surl, {
                method: 'POST',
                headers: {
                    //'Content-Type': 'application/json'
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                //body: JSON.stringify(inputData)
                body: (postData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                        document.getElementById('validation_OldPassword').textContent = "讀密碼時發生錯誤A";
                        _isPass = false;
                        ShowSubmit(false);
                        OldPassword.focus();
                    }
                    console.log('fetch response');
                    return response.json();
                })
                .then(data => {
                    console.log('fetch data');
                    console.log(data);
                    //console.log(JSON.stringify(data));
                    if (data.result == 'PASS') {
                        _isPass = true;
                        document.getElementById('validation_OldPassword').textContent = "";
                        ShowSubmit(true);
                    }
                    else {
                        _isPass = false;
                        document.getElementById('validation_OldPassword').textContent = "舊密碼不相符";
                        ShowSubmit(false);
                        OldPassword.focus();
                    }
                })
                .catch(error => {
                    console.error('Fetch operation failed:', error);
                    document.getElementById('validation_OldPassword').textContent = "讀密碼時發生錯誤B";
                    _isPass = false;
                    ShowSubmit(false);
                    OldPassword.focus();
                });

        }

        function checkPWDFormat(value) {
            //value.sub
            console.log('checkPWDFormat')
            //console.log('value: ' + value);
            var pattern3 = new RegExp('^(?=.*[0-9])(?=.*[A-Za-z]).{5,20}$'); //pass case
            //var pattern3 = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}$/; //pass case
            //var pattern3 = new RegExp('^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{5,20}$'); //pass case
            //var pattern3 = '/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}$/'; //NG case, more ' '
            //var pattern3 = new RegExp('^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}$'); //ng case, lost \
            console.log('pattern3: ' + pattern3);
            if (value.match(pattern3) == null) {
                console.log('不合');
                return false;
            }
            else {
                console.log('合');
                return true;
            }
        }

        //btn_submitInput.style.display = 'none';
        btn_submit.style.display = 'none';

        console.log("JS end");
    </script>
}
