@model VNW.Models.Employee

@{
    ViewData["Title"] = "修改員工密碼";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3 class="alert-info">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger">@TempData["td_serverWarning"]</h3>
</div>

@if (Model == null)
{
    <h3 class="alert-danger">未明錯誤, 資料是空的</h3>
    return;
}




ID:  @Model.Id <br />
員工姓名: @Model.Name <br />
郵件帳號: @Model.Email <br />

<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="EditPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@

            <div class="form-group">
                <label class="control-label">原本密碼</label> <b class="text-danger">*</b>
                <input id="OldPassword" name="OldPassword" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label">新密碼</label> <b class="text-danger">*</b>
                <input id="NewPassword" name="NewPassword" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label">密碼確認</label> <b class="text-danger">*</b>
                <input id="NewPassword_Confirm" name="NewPassword_Confirm" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label">驗證碼</label> <b class="text-danger">*</b>
                <p><input id="Captcha" name="Captcha" class="form-control" /></p>
                <p><img src="~/images/default.jpg" style="height:50px;width:200px;" /></p>
            </div>
            <div class="form-group">
                <div class="btn btn-primary">預先驗證</div>
                <div class="btn btn-danger">送出更新</div>

                <input type="submit" value="送出更新" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到清單</a> |
    <a asp-action="Details" asp-route-id="@Model.Id">回到細節</a>
</div>


@section endJS{
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
    <script>
        console.log("JS start");


        console.log("JS end");
    </script>
}
