@model IEnumerable<VNW.Models.Employee>

@{
    ViewData["Title"] = "員工清單";
}

<h2>@ViewData["Title"]</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportsTo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
    bool isSelf = false;
    if (ViewBag.ShopAccount == item.Email)
    {
        isSelf = true;
    }
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportsTo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>*@
            <td>
                @if (isSelf)
                {
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
