@model IEnumerable<VNW.Models.OrderDetail>

@{
    ViewData["Title"] = "Detail List";
}

<h2>訂單細節</h2>

[@ViewBag.UserAccount]
[@ViewBag.UserLevel]



<div class="alert-danger">
    <b>@TempData["td_serverMessage"]</b>
</div>


@if (@Model == null)
{
    return;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Order)**@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)*
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*#@Html.DisplayFor(modelItem => item.Order.OrderId)*@
                    @*@item.Order.Customer.ContactName*@
                    @item.OrderId

                    @if (item.Order != null)
                    {
                        @item.Order.CustomerId
                    }

                </td>
                <td>
                    @*#@Html.DisplayFor(modelItem => item.Product.ProductId)*@
                    @item.Product.ProductName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { pid = item.ProductId, oid = item.OrderId }) |
                        @Html.ActionLink("Details", "Details", new { pid = item.ProductId, oid = item.OrderId })*@
                    @*@Html.ActionLink("Delete", "Delete", new { pid = item.ProductId, oid = item.OrderId })*@

                    <a class="btn btn-danger">取消</a>
                </td>
            </tr>
        }
    </tbody>
</table>
