@model VNW.Models.OrderDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Order)*
        </dt>
        <dd>
            #@Html.DisplayFor(model => model.Order.OrderId)

            (@Model.Order.CustomerId)
            @*@Model.Order.Customer.Address*@

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)*
        </dt>
        <dd>
            #@Html.DisplayFor(model => model.Product.ProductId)

            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { pid = @Model.ProductId, oid =@Model.OrderId }) |
    <a asp-action="Index">Back to List</a>
</div>
