@model IEnumerable<VNW.Models.OrderDetail>
@using VNW.Common

@{
    ViewData["Title"] = "訂單細節";
    decimal totalPriceSum = 0;
    VNW.Models.Order OrderInfo = null;
}

<h2>@ViewData["Title"]</h2>

<p>
    @*User ID: @ViewBag.UserAccount*@
    @*[@ViewBag.UserAccount]
        [@ViewBag.UserLevel]*@

</p>

<div class="alert-danger">
    <b>@TempData["td_serverMessage"]</b>
</div>

<a asp-action="OrderList" asp-controller="orders" class="btn btn-primary">訂單總表</a>

@if (@Model == null)
{
    return;
}


@if (ViewData["preCheckOrder"] == null)
{

}
else
{
    OrderInfo = (VNW.Models.Order)ViewData["preCheckOrder"];


    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4>訂單資訊</h4>
            <table class="table">
                <tr><td>訂單編號</td><td>TJ2024_<b>@OrderInfo.OrderId</b></td></tr>

                <tr><td>訂貨日期</td><td>@OrderInfo.OrderDate</td></tr>
                <tr><td>出貨地標(公司|組織)</td><td>@OrderInfo.ShipName</td></tr>
                <tr>
                    <td>出貨時間</td>
                    <td>
                        @if (OrderInfo.ShippedDate != null)
                        {
                            @OrderInfo.ShippedDate
                        }
                        else
                        {
                            <span class="alert-danger"><b>尚未出貨</b></span>
                        }

                    </td>
                </tr>
                <tr><td>出貨地址</td><td>@OrderInfo.ShipAddress</td></tr>
                <tr>
                    <td>送貨方式</td>
                    <td>
                        @try
                        {
                            @*@OrderInfo.shipViaTypes[(int)OrderInfo.ShipVia]*@
                            @EnumExtensions.GetDisplayName((VNW.Models.ShipViaTypeEnum)OrderInfo.ShipVia)
                        }
                        catch
                        {
                            <span class="alert-danger lg">異常</span>
                        }
                    </td>
                </tr>
                <tr><td>運費</td><td>@OrderInfo.Freight</td></tr>
                <tr>
                    <td>支付方式</td>
                    <td>
                        @try
                        {
                            @EnumExtensions.GetDisplayName((VNW.Common.PayEnum)OrderInfo.Payment)
                        }
                        catch
                        {
                            <span class="alert-danger">異常或之前未設定</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>狀態</td>
                    <td>
                        @OrderInfo.Status
                        @if (OrderInfo.Status == null)
                        {
                            <span class="alert-danger">尚未設定</span>
                        }
                        else
                        {
                            @try
                            {
                                @EnumExtensions.GetDisplayName((VNW.Models.OrderStatusEnum)OrderInfo.Status)
                            }
                            catch
                            {
                                <span class="alert-danger">異常</span>
                            }
                        }                        
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4>客戶資訊</h4>
            <table class="table">
                <tr><td>帳號</td><td>@OrderInfo.CustomerId</td></tr>

                @if (@OrderInfo.Customer != null)
                {
                    <tr><td>聯絡人姓名</td><td>@OrderInfo.Customer.ContactName</td></tr>
                    <tr><td>電話</td><td>@OrderInfo.Customer.Phone</td></tr>
                }

            </table>
        </div>
    </div>
}

<h4>訂單內容</h4>
<table class="table">
    <thead>
        <tr>
            <th>商品</th>
            <th>名稱</th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>

            <th>小記</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Product != null)
                    {
                        <img src="~/images/products/@item.Product.Picture" style="width:80px; " />
                    }
                    @if (item.Quantity <= 0)
                    {
                        <span style="background-color:red;color:white;">已取消</span>
                    }
                </td>
                <td>
                    <a asp-action="Product_Details" asp-controller="products"
                       asp-route-id="@item.ProductId" target="_blank">@item.Product.ProductName</a>
                    @*#@Html.DisplayFor(modelItem => item.Product.ProductId)*@
                    @*@item.OrderId
                        (@item.ProductId)*@

                    @if(item.Product.IsLocked)
                    {
                        <br/><span class="alert-danger">被鎖定</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                @{
                    decimal PriceByQty = item.UnitPrice * item.Quantity;
                    totalPriceSum += PriceByQty;
                }
                <td>
                    @PriceByQty
                </td>
            </tr>
        }
    </tbody>
</table>


<h3 style="text-align:right;">總計: NT$ @totalPriceSum </h3>
<h3 style="text-align:right;">總計(含運費): NT$ @(totalPriceSum + OrderInfo.Freight) </h3>


