@model IEnumerable<VNW.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Order Detail</h2>

<b><span class="text-danger">
    @TempData["td_serverMessage"]
</span></b>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)*
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)*
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Order.OrderId)
                </td>
                <td>
                    #@Html.DisplayFor(modelItem => item.Product.ProductId)
                    @item.Product.ProductName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { pid = item.ProductId, oid = item.OrderId }) |
                    @Html.ActionLink("Details", "Details", new { pid = item.ProductId, oid = item.OrderId })
                    @*@Html.ActionLink("Delete", "Delete", new { pid = item.ProductId, oid = item.OrderId })*@
                </td>
            </tr>
        }
    </tbody>
</table>
