@model IEnumerable<VNW.Models.OrderDetail>

@{
    ViewData["Title"] = "訂單明細(商家)";
    decimal totalPriceSum = 0;
    VNW.Models.Order OrderInfo = null;
}

<h2>@ViewData["Title"]</h2>

<div style="text-align:right">
    <div>員工ID: <span><b>wolf2024@@vwn.tw</b></span> </div>
    <a class="btn-primary btn">員工登入</a>
    <a class="btn-success btn">員工登出</a>
</div>


<div class="alert-danger">
    <b>@TempData["td_serverMessage"]</b>
</div>

<a asp-action="OrderListForShop" asp-controller="orders" class="btn btn-primary">訂單總表</a>

@if (@Model == null)
{
    return;
}


@if (ViewData["preCheckOrder"] == null)
{

}
else
{
    OrderInfo = (VNW.Models.Order)ViewData["preCheckOrder"];


    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4>訂單資訊</h4>
            <table class="table">
                <tr><td>訂單編號</td><td>TJ2024_<b>@OrderInfo.OrderId</b></td></tr>

                <tr><td>訂貨日期</td><td>@OrderInfo.OrderDate</td></tr>
                <tr><td>出貨地標(公司|組織)</td><td>@OrderInfo.ShipName</td></tr>
                <tr>
                    <td>出貨時間</td>
                    <td>
                        @if (OrderInfo.ShippedDate != null)
                        {

                            <span class="alert-success"><b>@OrderInfo.ShippedDate</b></span>
                        }
                        else
                        {
                            <span class="alert-danger"><b>尚未出貨</b></span>
                        }

                    </td>
                </tr>
                <tr><td>出貨地址</td><td>@OrderInfo.ShipAddress</td></tr>
                <tr>
                    <td>送貨方式</td>
                    <td>
                        @try
                        {
                            @*@OrderInfo.shipViaTypes[(int)OrderInfo.ShipVia]*@                            
                            @VNW.Common.EnumExtensions.GetDisplayName((VNW.Models.ShipViaTypeEnum)OrderInfo.ShipVia)
                        }
                        catch
                        {
                            <span class="alert-danger lg">異常</span>
                        }
                    </td>
                </tr>
                <tr><td>運費</td>
                    <td>@OrderInfo.Freight                       
                    </td>
                </tr>
                <tr><td>付款方式</td>
                    <td>
                        @VNW.Common.EnumExtensions.GetDisplayName((VNW.Common.PayEnum)0)
                    </td>
                </tr>
                <tr><td>狀態</td><td> </td></tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4>客戶資訊</h4>
            <table class="table">
                <tr><td>帳號</td><td>@OrderInfo.CustomerId</td></tr>

                @if (@OrderInfo.Customer != null)
                {
                    <tr><td>聯絡人姓名</td><td>@OrderInfo.Customer.ContactName</td></tr>
                    <tr><td>電話</td><td>@OrderInfo.Customer.Phone</td></tr>
                }

            </table>
        </div>
    </div>
}

<h4>訂單內容</h4>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>商品</th>
            <th>名稱</th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>

            <th>小記</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td> <a class="btn btn-default">確認 </a>  </td>
                <td>
                    @if (item.Product != null)
                    {
                        <img src="~/images/@item.Product.Picture" style="width:80px; " />
                    }
                </td>
                <td>
                    <a asp-action="ProductDetailForShop" asp-controller="products"
                       asp-route-id="@item.ProductId" target="_blank">@item.Product.ProductName</a>
                    @*#@Html.DisplayFor(modelItem => item.Product.ProductId)*@
                    @*@item.OrderId
                        (@item.ProductId)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                @{
                    decimal PriceByQty = item.UnitPrice * item.Quantity;
                    totalPriceSum += PriceByQty;
                }
                <td>
                    @PriceByQty
                </td>
            </tr>
        }
    </tbody>
</table>


<h3 style="text-align:right;">總計: NT$ @totalPriceSum </h3>


@if (OrderInfo.ShippedDate != null)
{

}
else
{
    <div style="text-align:right">
        @*<a class="btn btn-success btn-lg">確認接單</a>*@
        <a class="btn btn-success btn-lg" asp-action="OrderReadyForShop"
           asp-controller="Orders" asp-route-id="@OrderInfo.OrderId">準備完成</a>
    </div>

    <div>

        <p></p>
        <label class="form-control-static">理由</label>
        <select class="form-control">
            <option>忙碌</option>
            <option>缺貨</option>
            <option>內容或數量有差異</option>
            <option>其它</option>
        </select>
        <a class="btn btn-danger btn-lg">取消訂單!退單!</a>
    </div>

    <div>
        <a class="btn btn-primary btn-lg">修改訂單</a>
    </div>
}









