@model IEnumerable<VNW.Models.Category>

@{
    ViewData["Title"] = "商品分類";
}

@*<h2>商品分類</h2>*@

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
            <tr>
                <th>
                    分類
                </th>
                <th>
                    數量
                </th>
                <th>簡介</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="ProductList" asp-controller="Products"
                       asp-route-cat="@item.CategoryId"
                       asp-route-catName="@item.CategoryName">
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </a>
                </td>

                <td>
                    @if (item.Products != null)
                    {
                        @item.Products.Count()
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>


                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |

                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>