@model VNW.ViewModels.OrderViewModel
@using VNW.Common
@{
    ViewData["Title"] = "建立訂單與明細";
    VNW.Models.Customer member = null;
    VNW.Models.Order newOrder = null;
    //IEnumerable<VNW.Models.OrderDetail> OrderDetails = null;

}

<h2>@ViewData["Title"]</h2>

<a asp-action="CategoryList" asp-controller="Categories" class="btn btn-primary">再去選購商品</a>

<div>
    <h3 class="alert-danger" id="txt_failMessage">@TempData["td_serverWarning"]</h3>
    <h3 class="alert-info" id="txt_infoMessage">@TempData["td_serverInfo"]</h3>
    <h3 class="alert-info">@TempData["td_serverMessage"]</h3>
</div>



@if (Model == null || Model.OrderBase == null)
{
    <div class="alert-danger">data is lost</div>
    return;
}

<hr />
<h4>訂貨客戶</h4>

@if (Model.OrderBase != null && Model.OrderBase.Customer != null)
{
    member = Model.OrderBase.Customer; //(VNW.Models.Customer)ViewData["member"];
    <ul>
        <li>ID: <b> @member.CustomerId </b></li>
        <li>姓名: @member.ContactName</li>
        <li>公司: @member.CompanyName</li>
    </ul>
}
else
{
    <span>member is null</span>
}

<hr />
<h4>訂單主頁</h4>
@if (Model.OrderBase != null)
{
    newOrder = Model.OrderBase; // (VNW.Models.Order)ViewData["newOrder"];

    <table class="table">
        <tr>
            <td>客戶帳號</td>
            <td>@newOrder.CustomerId</td>
        </tr>
        <tr>
            <td>訂單編號</td>
            <td><b>@newOrder.OrderId</b></td>
        </tr>
        <tr>
            <td>地址</td>
            <td>@newOrder.ShipAddress</td>
        </tr>
        <tr>
            <td>收貨地(公司|組織)</td>
            <td>@newOrder.ShipName</td>
        </tr>
        <tr>
            <td>城市</td>
            <td>@newOrder.ShipCity</td>
        </tr>
        <tr>
            <td>郵遞區號</td>
            <td>@newOrder.ShipPostalCode</td>
        </tr>
        <tr>
            <td>訂貨時間</td>
            <td>@newOrder.OrderDate</td>
        </tr>
        <tr>
            <td>需求時間</td>
            <td>@newOrder.RequiredDate</td>
        </tr>
        <tr>
            @*<td>@Html.DisplayName(newOrder.ShippedDate)</td>*@
            <td>寄送時間</td>
            <td>@newOrder.ShippedDate</td>
        </tr>
        <tr>
            <td>送貨方式</td>
            <td>
                (@newOrder.ShipVia)
                @try
                {
                    @EnumExtensions.GetDisplayName((VNW.Models.ShipViaTypeEnum)newOrder.ShipVia)
                }
                catch
                {
                    <span class="alert-danger">異常</span>
                }

            </td>
        </tr>
        <tr>
            <td>支付方式</td>
            <td>
                (@newOrder.Payment)
                @try
                {
                    @EnumExtensions.GetDisplayName((VNW.Common.PayEnum)newOrder.Payment)
                }
                catch
                {
                    <span class="alert-danger">異常</span>
                }
            </td>
        </tr>

        <tr>
            <td>運費</td>
            <td>@newOrder.Freight</td>
        </tr>
    </table>

}

<hr />
<h4>訂單明細</h4>
@if (Model.Ods != null)
{
    //OrderDetails = Model.Ods; // (IEnumerable<VNW.Models.OrderDetail>)ViewData["OrderDetails"];
    <table class="table">
        <tr>
            <td>#</td>
            <td>訂單編號(需全相同)</td>
            <td>商品編號</td>
            <td>商品名稱</td>
            <td>數量</td>
            <td>單價</td>
            <td>折扣</td>
            <td>小記</td>
        </tr>
        @{
            decimal totalSum = 0;
            int i = 0;
        }

        @foreach (var item in Model.Ods)
        {
            <tr>
                <td>@(++i)</td>
                <td>@item.OrderId</td>
                <td>@item.ProductId</td>
                <td>
                    @if (item.Product != null)
                    {
                        <img src="~/images/@item.Product.Picture" style="width:50px;" />
                        @item.Product.ProductName
                    }
                </td>
                <td>@item.Quantity </td>
                <td>$@item.UnitPrice</td>
                <td>@item.Discount </td>
                @{
                    decimal totalPrice = item.UnitPrice * item.Quantity;
                    totalSum += totalPrice;
                }

                <td>$@(totalPrice) </td>

                @*<td>@item.Product.UnitsInStock </td>
                    <td>@item.Product.UnitsOnOrder </td>*@
            </tr>
        }
    </table>
    <h3 style="text-align:right">總計: NT$@totalSum</h3>
    <h3 style="text-align:right">總計(含運費): NT$@(totalSum + newOrder.Freight)</h3>


}
<div style="text-align:right">
    <a class="btn btn-success btn-lg" asp-controller="orders" asp-action="OrderList">查詢已送出的訂單</a>
</div>






