@model VNW.Models.Order

@{
    ViewData["Title"] = "NewOrder";
    VNW.Models.Customer member = null;
}

<h2>新訂單</h2>

@*@ViewBag.UserAccount*@
@*@ViewData["member"]*@

@if (ViewData["member"] != null)
{
    member = (VNW.Models.Customer)ViewData["member"];
}

@if (member != null)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="NewOrder" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    @*<input asp-for="CustomerId" class="form-control" value="@ViewBag.UserAccount" readonly/>*@
                    <input type="hidden" asp-for="CustomerId" class="form-control" value="@ViewBag.UserAccount" />
                    <input class="form-control" value="@ViewBag.UserAccount @member.CompanyName (聯絡人: @member.ContactName)" readonly />

                    @*<input asp-for="CustomerId" class="form-control" value="@ViewBag.UserAccount"/>*@
                </div>
                @*<div class="form-group">
                        <label asp-for="OrderDate" class="control-label"></label>
                        <input asp-for="OrderDate" class="form-control" />
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>*@
                @*<div class="form-group">
                        <label asp-for="RequiredDate" class="control-label"></label>
                        <input asp-for="RequiredDate" class="form-control" />
                        <span asp-validation-for="RequiredDate" class="text-danger"></span>
                    </div>*@
                @*<div class="form-group">
                        <label asp-for="ShippedDate" class="control-label"></label>
                        <input asp-for="ShippedDate" class="form-control" />
                        <span asp-validation-for="ShippedDate" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="ShipVia" class="control-label"></label>
                    <input asp-for="ShipVia" class="form-control" value="1" />
                    <span asp-validation-for="ShipVia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Freight" class="control-label"></label>
                    <input asp-for="Freight" class="form-control" value="0" readonly/> @*disabled="disabled"*@
                    <span asp-validation-for="Freight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipName" class="control-label"></label>
                    <input asp-for="ShipName" class="form-control" value="@member.CompanyName @member.ContactName" />
                    <span asp-validation-for="ShipName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipAddress" class="control-label"></label>
                    <input asp-for="ShipAddress" class="form-control" value="@member.Address" />
                    <span asp-validation-for="ShipAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipCity" class="control-label"></label>
                    <input asp-for="ShipCity" class="form-control" value="@member.City" />
                    <span asp-validation-for="ShipCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipPostalCode" class="control-label"></label>
                    <input asp-for="ShipPostalCode" class="form-control" value="@member.PostalCode" />
                    <span asp-validation-for="ShipPostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipCountry" class="control-label"></label>
                    <input asp-for="ShipCountry" class="form-control" value="@member.Country" />
                    <span asp-validation-for="ShipCountry" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>