@model IEnumerable<VNW.Models.Order>
@using VNW.Common

@{
    ViewData["Title"] = "您的訂單總表";
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.UserAccount == null || ViewBag.UserAccount == "")
{
    <a asp-action="login" asp-controller="customers">請先登入</a>
}
else
{
    <p>
        @ViewBag.UserAccount
        <a asp-action="logout" asp-controller="Customers">登出</a>
    </p>
    @*<p><a asp-action="NewOrder">建立新訂單</a></p>*@
}

<div class="alert-danger">
    @TempData["td_server"]
</div>

<div id="div_condition" style="border:solid; border-width:1px; padding:2px;margin:2px;border-radius:5px;border-color:lightgray;width:300px;">

    @{
        string condition = (string)ViewData["condition"];
    }
    @if (condition != "tbd")
    {<a class="btn btn-warning" asp-route-condition="tbd">待確認</a>}
    else
    {<a class="btn btn-default" asp-route-condition="tbd" style="border:solid;border-width:2px;">待確認</a>}

    @if (condition != "shipped")
    {<a class="btn btn-success" asp-route-condition="shipped">已出貨</a>}
    else
    {<a class="btn btn-default" asp-route-condition="shipped" style="border:solid;border-width:2px;">已出貨</a>}

    @if (condition != "cancel")
    {<a class="btn btn-info" asp-route-condition="cancel">已取消</a>}
    else
    {<a class="btn btn-default" asp-route-condition="cancel" style="border:solid;border-width:2px;">已取消</a>}
    @if (condition != null)
    {<a class="btn btn-primary" asp-route-condition="all">全部</a>}
    else
    {<a class="btn btn-default" asp-route-condition="all" style="border:solid;border-width:2px;"><b>全部</b></a>}
</div>

<div id="pageSelection">
    @{
        //:: page
        int totalpage = 0; int ipp = 10;
        int pageNum = 1;
        int totalCount = 0;

        if (ViewData["totalCount"] != null)
        {
            if (ViewData["page"] != null)
            {
                pageNum = (int)ViewData["page"];
            }
            if (ViewData["ipp"] != null)
            {
                ipp = (int)ViewData["ipp"];
                if (ipp <= 0) { ipp = 10; }
            }
            totalCount = (int)ViewData["totalCount"];
            totalpage = totalCount / ipp + 1;
            <div>
                @{
                    if (pageNum > 0)
                    {
                        <a class="btn btn-default" href="?page=@(pageNum)"><</a>
                    }
                    else
                    {
                        <a class="btn btn-default"><</a>
                    }

                    for (int i = 0; i < totalpage; i++)
                    {
                        if (i == pageNum)
                        {
                            @*<a class="page-link">@(i + 1)</a>*@
                            <a href="?page=@(i + 1)" class="btn btn-info"> @(i + 1) </a>
                        }
                        else
                        {
                            <a href="?page=@(i + 1)" class="btn btn-default"> @(i + 1) </a>
                        }
                    } //for
                    if (pageNum < totalpage - 1)
                    {
                        <a class="btn btn-default" href="?page=@(pageNum+2)">></a>
                    }
                    else
                    {
                        <a class="btn btn-default">></a>
                    }
                }
            </div>
            <span> @Model.Count() / @totalCount 筆</span>             
        }
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(m => m.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>商品數</th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.RequiredDate)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipVia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Payment)
            </th>
            <th>
                @*@Html.DisplayNameFor(m => m.Status)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="DetailList" asp-controller="OrderDetails"
                       asp-route-oid="@item.OrderId" class="btn btn-primary">詳情</a>                    
                </td>
                <td>
                    <b>
                    @if (item.Status == null)
                    {
                        <span>待確認</span>
                    }
                    else
                    {
                        @Html.DisplayFor(mi => item.Status)
                    }
                    </b>
                </td>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.OrderId"> #@item.OrderId</a>*@
                    #TJ2024_@item.OrderId

                </td>
                <td>
                    @item.CustomerId
                    @if (item.Customer != null)
                    {
                        @*@Html.DisplayFor(modelItem => item.Customer.CustomerId)*@
                        @item.Customer.ContactName
                        @*(@item.Customer.Address)*@
                    }
                </td>
                <td>
                    @if (item.OrderDetails != null)
                    {
                        @item.OrderDetails.Count<span>組</span>

                        if (item.OrderDetails.Count <= 0)
                        {
                            <span class="alert-danger">異常</span>
                        }
                        @foreach (var od in item.OrderDetails)
                        {
                            @if (od.Product != null)
                            {
                                <img src="~/images/@od.Product.Picture" style="width:50px;" />
                            }
                            break; //just 1st one
                        }
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.RequiredDate)
                    </td>*@
                <td>
                    @if (item.ShippedDate == null)
                    {
                        <span class="alert-danger"><b>尚未出貨</b></span>
                    }

                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ShipVia)*@
                    (@item.ShipVia)
                    @try
                    {
                        @*@item.shipViaTypes[(int)item.ShipVia]*@
                        @EnumExtensions.GetDisplayName((VNW.Models.ShipViaTypeEnum)item.ShipVia)

                    }
                    catch
                    {
                        <span class="alert-danger lg">異常</span>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(mi => item.Payment)

                    @if(item.Payment == null)
                    {
                        <span class="alert-danger">未設</span>
                    }
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ShipCountry)*@

                    @*@Html.DisplayFor(mi => item.Status)*@

                    @*@if (item.ShippedDate == null)*@
                    @*{*@
                        @*@VNW.Common.EnumExtensions.GetDisplayName(OrderStatusEnum.Got)*@
                    @*}*@
                    @*else*@
                    @*{*@
                        @*@VNW.Common.EnumExtensions.GetDisplayName(OrderStatusEnum.Finish)*@
                        @*<span>(已出貨)</span>*@
                    @*}*@
                </td>
                <td>
                    @*<img src="~/images/delete.svg" />*@
                    @*<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
