@model VNW.ViewModels.OrderViewModel
@using VNW.Common

@{
    ViewData["Title"] = "訂單修改(商家模式)";
    decimal totalSum = 0;
}

<h2>@ViewData["Title"]</h2>

<hr />

<div>
    <h3 class="alert-info" id="td_serverMessage">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger" id="td_serverWarning">@TempData["td_serverWarning"]</h3>
</div>

@if (Model == null)
{
    return;
}

<a asp-action="OrderDetailsForShop" asp-controller="orderDetails" asp-route-id="@Model.OrderId"
   class="btn btn-lg btn-default">取消修改|返回前頁</a>


<div id="MaskWindow"
     style="opacity:0.05;background:#000;width:200%;height:200%;z-index:99;position:absolute;top:0;left:0;cursor:no-drop;display:none;"></div>
<div id="img_loading" style="z-index:100;position:fixed;border:none;width:100%;height:100%;left:0;top:50%-250px;cursor:no-drop;display:none;">
    <center><h3><b>處理中...</b></h3><img src="~/images/wait.gif" style="width:250px;" /></center>
</div>

@if (Model.OrderBase == null)
{
    return;
}

<form action="OrderEditForShop" method="post" id="form_OrderEdit">
    <input name="id" asp-for="@Model.OrderId" type="hidden" />
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4>訂單資訊</h4>
            <table class="table">
                <tr><td>訂單編號</td><td><b>@Model.OrderBase.OrderId</b></td></tr>

                <tr><td>訂貨日期</td><td>@Model.OrderBase.OrderDate</td></tr>

                <tr>
                    <td>出貨時間</td>
                    <td>
                        @if (Model.OrderBase.ShippedDate != null)
                        {

                            <span class="alert-success"><b>@Model.OrderBase.ShippedDate</b></span>
                        }
                        else
                        {
                            <span class="alert-danger"><b>尚未出貨</b></span>
                        }

                    </td>
                </tr>

                <tr>
                    <td>送貨方式</td>
                    <td>
                        @try
                        {
                            @*@Model.OrderBase.shipViaTypes[(int)Model.OrderBase.ShipVia]*@
                            @*@VNW.Common.EnumExtensions.GetDisplayName((VNW.Models.ShipViaTypeEnum)Model.OrderBase.ShipVia)*@
                            @*@EnumExtensions.GetDisplayName((ShipViaTypeEnum)Model.OrderBase.ShipVia)
                                <select id="ShipVia" name="ShipVia"></select>*@
                            <select name="OrderBase.ShipVia" asp-for="OrderBase.ShipVia" asp-items="@Html.GetEnumSelectList(typeof(VNW.Models.ShipViaTypeEnum))"
                                    class="form-control" id="sel_ShipVia"></select>

                        }
                        catch
                        {
                            <span class="alert-danger lg">異常</span>
                        }
                        <span id="validate_ShipVia" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>運費</td>
                    <td>
                        <input name="OrderBase.Freight" id="Freight" value="@Model.OrderBase.Freight" readonly class="form-control" />
                        @*<span id="txt_Freight">@Model.OrderBase.Freight</span>*@
                    </td>
                </tr>
                <tr>
                    <td>付款方式</td>
                    <td>
                        @*@EnumExtensions.GetDisplayName((PayEnum)0)*@
                        @*@EnumExtensions.GetDisplayName((PayEnum)Model.OrderBase.Payment)
                            <select id="payment" name="payment"></select>*@
                        <select name="OrderBase.Payment" asp-for="OrderBase.Payment" asp-items="@Html.GetEnumSelectList(typeof(VNW.Common.PayEnum))"
                                class="form-control" id="sel_Payment"></select>
                        <span id="validate_Payment" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>狀態</td>
                    <td>
                        @if (Model.OrderBase.Status != null)
                        {
                            @EnumExtensions.GetDisplayName((VNW.Models.OrderStatusEnum)Model.OrderBase.Status)
                        }
                        (@Model.OrderBase.Status)
                    </td>
                </tr>


                <tr>
                    <td>發票處理方式</td>
                    <td>
                        @Model.Invoice
                        <select name="OrderBase.Invoice" asp-for="Invoice" asp-items="@Html.GetEnumSelectList(typeof(InvoiceEnum))"
                                class="form-control" id="sel_Invoice"></select>
                    </td>
                </tr>

                <tr>
                    <td>時間戳記(Row Version)</td>
                    <td>
                        <div>
                            @*@Convert.ToBase64String(Model.OrderBase.TimeStamp)*@
                            @foreach (var b in Model.OrderBase.TimeStamp)
                            {
                                @b
                            }
                            <input name="OrderBase.TimeStamp" type="hidden" value="@Convert.ToBase64String(Model.OrderBase.TimeStamp)" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4>客戶資訊</h4>
            <table class="table">
                <tr><td>帳號</td><td>@Model.OrderBase.CustomerId</td></tr>

                @if (@Model.OrderBase.Customer != null)
                {
                    <tr><td>聯絡人姓名</td><td>@Model.OrderBase.Customer.ContactName</td></tr>
                    <tr><td>電話</td><td>@Model.OrderBase.Customer.Phone</td></tr>
                }
                <tr><td>出貨地標(公司|組織)</td><td>@Model.OrderBase.ShipName</td></tr>
                <tr><td>出貨地址</td><td>@Model.OrderBase.ShipAddress</td></tr>
            </table>
        </div>
    </div>

    <span class="text-danger">留意：修改訂單前需先與客戶聯絡確認，送貨方式等變更會調整運費</span>

    <h4>內容</h4>

    @if (Model.Ods != null)
    {
        int irow = 0;
        <table class="table table-bordered" id="table_ods">
            <thead>
                <tr>
                    <td></td>
                    <td>商品</td>
                    <td>(ID)名稱 [變更戳記]</td>
                    <td>@Html.DisplayNameFor(model => model.Ods.FirstOrDefault().Quantity)</td>
                    <td>@Html.DisplayNameFor(model => model.Ods.First().UnitPrice) </td>
                    <td>小記</td>
                    <td></td>
                    <td>店內總庫存</td>
                    <td>店內總預訂量</td>
                    <td>估計可再下單量</td>
                </tr>
            </thead>
            @foreach (var item in Model.Ods)
            {
                decimal QtyByPrice = item.Quantity * item.UnitPrice; ;
                totalSum += QtyByPrice;
                int allowToBuy = (int)item.Product.UnitsInStock - (int)item.Product.UnitsReserved
                    + item.Quantity; //::for
                if (allowToBuy >= 100) { allowToBuy = 100; }
                <tr>
                    <td>@*<input type="checkbox" name="" class="form-control" checked readonly />*@ </td>
                    <td><img src="~/images/@item.Product.Picture" style="width:80px; " /></td>
                    <td>
                        <input name="Ods[@irow].ProductId" value="@item.ProductId" type="hidden" />
                        (#@item.ProductId)<br>
                        @item.Product.ProductName<br>
                        [@{foreach (var b in item.RowVersion)
                            { @b }}]<br>
                        [@item.Product.LastModifiedTime]
                    </td>
                    <td>
                        <span style="font-size:20px;">@item.Quantity</span>
                        @*<input name="Ods[@irow].Quantity" type="number"
                            class="form-control" value="@item.Quantity" />*@
                        <select class="selectQty form-control" name="Ods[@irow].Quantity" style="min-width:80px;" pid="@item.ProductId" , OldQty="@item.Quantity">
                            @for (int i = 0; i <= allowToBuy; i++)
                            {
                                if (item.Quantity == i)
                                {
                                    <option selected>@(i)</option>
                                }
                                else
                                {
                                    <option>@(i)</option>
                                }
                            }
                        </select>


                    </td>
                    <td><span class="UnitPrice @item.ProductId">@item.UnitPrice</span></td>
                    <td><span class="TotalPrice @item.ProductId">@QtyByPrice</span></td>
                    <td></td>
                    <td><span class="Stock @item.ProductId">@item.Product.UnitsInStock</span></td>
                    <td><span class="Reserved @item.ProductId">@item.Product.UnitsReserved</span></td>
                    <td><span class="Boundary @item.ProductId">@(item.Product.UnitsInStock - item.Product.UnitsReserved)</span></td>
                </tr>
                irow++;
            }
        </table>
        <span class="text-primary">Tip: 將商品數量設為0代表取消，但一張訂單至少要有一件商品</span>
        <br /><div class="btn btn-primary" name="btn_AddMoreItem">+ 加入商品 (Beta)</div>

        <div style="text-align:right;">
            <h3>
                原訂單金額: NT$@((int)totalSum)<br />
                修改後訂單金額: NT$<span id="txt_TotalPriceSum">@((int)totalSum)</span><br>

            </h3>
            <h3>
                運費: NT$<span id="txt_Freight">@Model.OrderBase.Freight</span><br />
                總計(含運費): NT$<span id="txt_TotalPriceSumPlus">@(totalSum + Model.OrderBase.Freight)</span>
            </h3>
            @*<a asp-controller="orders" asp-route-id="@Model.OrderId" class="btn btn-lg btn-danger">送出修改</a>*@

            <input type="submit" value="送出修改" id="btn_submit" class="btn btn-lg btn-danger" />
            <span id="warningBeforeSubmit" class="text-danger" style="font-size:16px;"></span>
        </div>
    }

</form>


<a asp-action="OrderDetailsForShop" asp-controller="orderDetails" asp-route-id="@Model.OrderId"
   class="btn btn-lg btn-default" id="btn_cancel">取消修改|返回前頁</a>

@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");
        var isError = false;
        var sel_ShipVia = $('#sel_ShipVia');
        var sel_Payment = $('#sel_Payment');
        var sel_Invoice = $('#sel_Invoice');
        var Freight = @Model.OrderBase.Freight;

        sel_ShipVia.change(sel_ShipVia_UpdateFreight);
        function sel_ShipVia_UpdateFreight() {
            var totalSum = @totalSum;
            var thisValue = sel_ShipVia.val(); //$(this).val();//  sel_ShipVia.val();
            console.log("sel_ShipVia change " + thisValue);
            switch (thisValue) { //::notice: ths val() is 'string'
                case '0':
                    Freight = 0;
                    $('#txt_Freight').html(Freight);
                    $('#txt_Freight').removeClass("alert-danger");
                    $('#txt_TotalPriceSumPlus').removeClass("alert-danger");
                    $('#validate_ShipVia').html("註: 為確認您在家，送貨員會先與您連絡");
                    break;
                case '1':
                    Freight = 50;
                    $('#txt_Freight').html(Freight+'*');
                    $('#txt_Freight').addClass("alert-danger");
                    $('#txt_TotalPriceSumPlus').addClass("alert-danger");
                    $('#validate_ShipVia').html("註: 冷凍、冷凍、體積過大的商品無法由[超商取貨]");
                    break;
                case '2':
                    Freight = 100;
                    console.log("Freight " + Freight);
                    ////$('#txt_Freight').val(Freight);
                    //$('#txt_Freight').text(Freight);
                    $('#txt_Freight').html(Freight+'*');
                    $('#txt_Freight').addClass("alert-danger");
                    $('#txt_TotalPriceSumPlus').addClass("alert-danger");
                    $('#validate_ShipVia').html("註: 小魔女會加收100元小費，不受理體積過大的商品");
                    break;
                default:
                    //console.log("default");
                    break;
            }
            $('#Freight').val(Freight);
            $('#txt_TotalPriceSumPlus').text(totalSum + Freight);

            //console.log("e o s");
        }

        sel_Payment.change(sel_PaymentChange);
        function sel_PaymentChange() {
            var msg = "";
            console.log("sel_Payment change " + sel_Payment.val());
            switch (sel_Payment.val()) {
                case '0': msg = "只接受VISA卡，不能用美國運通、黑卡、提款卡";
                    break;
                case '1': msg = "不會主動要求您去操作ATM提款或反戰車飛彈";
                    break;
                case '2': msg = "超商店員、送貨員或小魔女會向您收費，建議備好零錢";
                    break;
                default:
                    msg = "someting is wrong";
                    break;
            }
            $('#validate_Payment').html(msg);

        }

        //::qty change - with API via ajax
        $('.selectQty').on('change', function () {
            var newQtyValue = $(this).val();
            console.log("newQtyValue: " + newQtyValue);
            var pid = this.getAttribute("pid");
            var keepThis = $(this);
            console.log("pid " + pid);

            var OldQtyValue = 0;
            OldQtyValue = parseInt(this.getAttribute('OldQty'));
            console.log("OldQtyValue: " + OldQtyValue);

            //::update total price for this product
            var unitPrice = parseInt($('.UnitPrice.' + pid).text());
            console.log(" UnitPrice" + unitPrice);
            var totalPrice = newQtyValue * unitPrice;
            console.log(" 小記 " + totalPrice);
            $('.TotalPrice.' + pid).text(totalPrice +'*');
            $('.TotalPrice.' + pid).addClass("alert-warning");

            var TotalPriceSum = 0;
            TotalPriceSum = parseInt($('#txt_TotalPriceSum').text());
            console.log(" sum " + TotalPriceSum);
            TotalPriceSum += (newQtyValue - OldQtyValue) * unitPrice;
            $('#txt_TotalPriceSum').text(TotalPriceSum);

            this.setAttribute('OldQty', newQtyValue);
            $('#txt_TotalPriceSumPlus').text(TotalPriceSum + Freight);

            if (TotalPriceSum <= 0) {
                $('#btn_submit').hide();
                $('#warningBeforeSubmit').html("提示：總價少於0，至少要買一件商品");
            }
            else {
                $('#btn_submit').show();
                $('#warningBeforeSubmit').html("");
            }

            //::load current stock|reserved from DB
            SetBusy();
            var surl = "../../Products/GetStockReserved";
            $.ajax({
                url: surl,
                type: "POST",
                dateType: "json",
                data: {
                    id: pid,
                },
                success: function (data) {
                    console.log("get data from " + surl);
                    console.log(data);
                    if (data.result == "PASS") {
                        console.log("PASS ");
                        console.log(" detail:" + data.detail);
                        //var i = 0;
                        var stock = parseInt(data.stock);
                        var reserved = parseInt(data.reserved);
                        console.log(" stock:" + stock);
                        console.log(" reserved:" + reserved);
                        //::show values
                        $('.Stock.' + pid).text(stock);
                        $('.Stock.' + pid).addClass("alert-warning");
                        $('.Reserved.' + pid).text(reserved);
                        $('.Reserved.' + pid).addClass("alert-warning");
                        $('.Boundary.' + pid).text(stock - reserved);
                        $('.Boundary.' + pid).addClass("alert-warning");
                        SetReady();
                        $('#btn_cancel').focus();
                        keepThis.focus();
                    }
                    else {
                        //::fail case
                        console.log("fail case");
                        $("#td_serverWarning").text("未得到正確回應");
                        SetReady();
                        $('#btn_cancel').focus();
                        keepThis.focus();
                    }
                }, //success
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr)
                    //$("#td_serverWarning").text("發生未知錯誤");
                    SetReady();
                    $('#btn_cancel').focus();
                    keepThis.focus();
                }//error
            });
        });

        function SetReady() {
            //$('#form_OrderEdit').show();

            $('#img_loading').hide();
            $('#MaskWindow').hide();
        }
        function SetBusy() {
            //$('#form_OrderEdit').hide();

            $('#img_loading').show();
            $('#MaskWindow').show();
        }


        console.log("jquery end");
    </script>
}    