@model IEnumerable<VNW.Models.Order>
@using VNW.Common

@{
    ViewData["Title"] = "收到的訂單(商家模式)";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3 class="alert-info">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger">@TempData["td_serverWarning"]</h3>
</div>

<div style="text-align:right">
    <div>員工ID: <span><b>@ViewData["ShopAccount"]</b></span> </div>
    @*<a class="btn-primary btn" asp-action="ShopLogin" asp-controller="Customers">員工登入</a>*@
    <a class="btn-primary btn"  asp-action="Logout" asp-controller="Customers">員工登出</a>
</div>


<div id="div_sortCondition">
    @*<h4>條件篩選</h4>
        <table id="table_sortCondition">
            <tr>
                <td>訂單狀況</td>
                <td>運送方式</td>
                <td>支付方式</td>
                <td> 發票資訊</td>
            </tr>
            <tr>
                <td>
                    <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Models.OrderStatusEnum))"
                            multiple="multiple" class="form-control"></select>
                </td>
                <td>
                    <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Models.ShipViaTypeEnum))"
                            multiple="multiple" class="form-control"></select>
                </td>
                <td>
                    <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Common.PayEnum))"
                            multiple="multiple" class="form-control"></select>
                </td>
                <td>
                    <select asp-items="@Html.GetEnumSelectList(typeof(InvoiceEnum))"
                            multiple="multiple" class="form-control"></select>
                </td>
            </tr>
        </table>*@
</div>

<div id="div_condition" style="border:solid; border-width:1px; padding:2px; border-radius:5px;border-color:lightgray; text-align:center;">

    @{
        string condition = (string)ViewData["condition"];
    }

    @if (condition != "tbd")
    {<a class="btn btn-primary" asp-route-condition="tbd">待確認</a>}
    else
    {<a class="btn btn-default" style="border:solid;border-width:2px;" asp-route-condition="tbd">待確認</a>}

    @if (condition != "3days")
    {<a class="btn btn-warning" asp-route-condition="3days">三天內</a>}
    else
    {<a class="btn btn-default" style="border:solid;border-width:2px;" asp-route-condition="3days">三天內</a>}

    @if (condition != "my")
    {<a class="btn btn-warning" style="background-color:mediumorchid" asp-route-condition="my">我處理的訂單</a>}
    else
    {<a class="btn btn-default" style="border:solid;border-width:2px;" asp-route-condition="my">我處理的訂單</a>}

    @if (condition != "shipped")
    {<a class="btn btn-success" asp-route-condition="shipped">已出貨</a>}
    else
    {<a class="btn btn-default" style="border:solid;border-width:2px;" asp-route-condition="shipped">已出貨</a>}

    @if (condition != "cancel")
    {<a class="btn btn-info" asp-route-condition="cancel">已取消</a>}
    else
    {<a class="btn btn-default" style="border:solid;border-width:2px;" asp-route-condition="cancel">已取消</a>}

    @if (condition != "error")
    {<a class="btn btn-danger" asp-route-condition="error">異常</a>}
    else
    {<a class="btn btn-default" style="border:solid;border-width:2px;" asp-route-condition="error">異常</a>}

    @if (condition != "all")
    {<a class="btn btn-default" asp-route-condition="all">全部</a>}
    else
    {<a class="btn btn-default" style="border:solid;border-width:2px;" asp-route-condition="all">全部</a>}

</div>

<div style="display:flex; justify-content:center;"><partial name="_PagesPartial" /></div>

<div id="old_pageSelection">
    @*@{
        //:: page
        int totalpage = 0; int ipp = 10; int totalCount = 0;
        int pageNum = (int)ViewData["page"];
        if (ViewData["totalCount"] != null)
        {
            totalCount = (int)ViewData["totalCount"];
            totalpage = totalCount / ipp + 1;
            <ul class="pagination">
                @{
                    if (pageNum > 0)
                    {
                        <li class="page-item"><a class="page-link" href="?page=@(pageNum)"><</a></li>
                    }
                    else
                    {
                        <li class="page-item disabled"><a class="page-link"><</a></li>
                    }

                    for (int i = 0; i < totalpage; i++)
                    {
                        if (i == pageNum)
                        {
                            <li class="page-item active">
                                <a class="page-link">@(i + 1)</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a href="?page=@(i + 1)" class="page-link"> @(i + 1) </a>
                            </li>
                        }
                    } //for
                    if (pageNum < totalpage - 1)
                    {
                        <li class="page-item"><a class="page-link" href="?page=@(pageNum+2)">></a></li>
                    }
                    else
                    {
                        <li class="page-item disabled"><a class="page-link">></a></li>
                    }
                }
            </ul>
            <div>@Model.Count() / @totalCount 筆</div>
        }
    }*@
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>狀態</th>
            <th>訂單編號</th>
            <th>訂貨人</th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>*@

            @*<th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ShipVia)
            </th>                                
            @*
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Status)
            </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td><a asp-action="OrderDetailsForShop" asp-controller="orderDetails" asp-route-id="@item.OrderId" class="btn btn-primary">檢視</a></td>
            <td>
                <b>
                    @*@Html.DisplayFor(modelItem => item.ShipCountry)*@
                    @Html.DisplayFor(mi => item.Status)
                    @if (item.Status == null)
                    {
                        <span class="alert-danger">待確認</span>
                    }

                    @if (item.ShippedDate == null)
                    {
                        @*@VNW.Common.EnumExtensions.GetDisplayName(OrderStatusEnum.Got)*@

                    }
                    else
                    {
                        @*@VNW.Common.EnumExtensions.GetDisplayName(OrderStatusEnum.Finish)*@
                        @*<span>(已出貨)</span>*@
                    }
                </b>
            </td>

            <td>@item.OrderId  </td>
            <td>
                @item.CustomerId | @Html.DisplayFor(modelItem => item.Customer.ContactName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)

                @if (item.OrderDate != null)
                {
                    TimeSpan difference = DateTime.Now - (DateTime)item.OrderDate;
                    if (difference.Days > 3)
                    {
                        @*<span class="newMark"> >3 days </span>*@
                    }
                    else
                    {
                        <span class="newMark">新</span>
                    }
                }

            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.RequiredDate)
            @if (item.ShippedDate == null)
            {
                <span class="alert-danger">未定</span>
            }
        </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.ShippedDate)

                @if (item.ShippedDate == null)
                {
                    <span class="alert-danger">尚未出貨</span>
                }

            </td>*@
            <td>
                (@Html.DisplayFor(modelItem => item.ShipVia))
                @try
                {
                    if (item.ShipVia != null)
                    {
                        @EnumExtensions.GetDisplayName((ShipViaTypeEnum)item.ShipVia)
                        @*@item.shipViaTypes[(int)item.ShipVia]*@
                        @*@item.shipViaTypes.ElementAt((int)item.ShipVia)
                    @item.shipViaTypes[(int)(@item.ShipVia)]*@
                    }
                    else
                    {
                        <span class="alert-danger lg">異常</span>
                    }
                }
                catch
                {
                    <span class="alert-danger lg">異常</span>
                }

            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPostalCode)
            </td>
            <td>
                @Html.DisplayFor(mi => item.Payment)

                @if (item.Payment == null)
                {
                    <span class="alert-danger">未設</span>
                }

            </td>*@
            <td>
                @*<a asp-action="OrderCancelForShop" asp-route-id="@item.OrderId" class="btn btn-danger">取消</a>*@


            </td>
        </tr>
        }
    </tbody>
</table>

<div style="display:flex; justify-content:center;">
    <vc:pages />
</div>

@section topCSS{
    <style>
        .newMark {
            background-color: red;
            color: wheat;
            border-radius: 5px;
            padding: 2px;
            margin: 2px;
            font-size:10px;
        }
    </style>
}

@section endJS{
    @*<!--jquery code-->*@
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");

        showHideCondition();
        function showHideCondition() {
            $('#div_sortCondition').hide();
            //$('#div_sortCondition').show();
        }

    </script>
}