@model VNW.ViewModels.OrderViewModel
@using VNW.Common
@using VNW.Models

@{
    ViewData["Title"] = "付款與運送方式";

    Customer customerInfo = null;

    //if (ViewData["customerInfo"] != null)
    //{
    //    customerInfo = (Customer)ViewData["customerInfo"];
    //}
    customerInfo = Model.OrderBase.Customer;

    //int vd_ShipVia = 0;

    //if (ViewData["ShipVia"] != null)
    //{
    //    vd_ShipVia = int.Parse((string)ViewData["ShipVia"]);
    //}
    //if (Model.OrderBase.ShipVia != null)
    //{
    //    vd_ShipVia = (int)Model.OrderBase.ShipVia;
    //}
    //ViewData["Payment"]
    //ViewData["Invoice"]
}

<h2>@ViewData["Title"]</h2>
<hr />
<div>
    [1.確認購物車] > <b class="text-primary">[2.付款與運送方式]</b> > [3.訂單確認]
</div>

<div class="alert-danger" id="txt_failMessage">@TempData["td_serverWarning"]</div>
<div class="alert-info" id="txt_infoMessage">@TempData["td_serverInfo"]</div>

<hr />

@if (customerInfo == null)
{
    <div class="alert-danger">發生錯誤: 資料無法代入</div>
    <hr />
    <div><a class="btn btn-danger" asp-action="PrepareOrder" asp-controller="Products">退回上一步</a></div>
    return;
}

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <h4>訂購人資訊</h4>


        <dl class="dl-horizontal">
            <dt>訂購人</dt>
            <dd>@customerInfo.ContactName (@customerInfo.CustomerId)</dd>
            <dt>手機</dt>
            <dd>@customerInfo.Phone</dd>

            <dt>出貨地址	</dt>
            <dd>@customerInfo.Address</dd>
            <dt>出貨地標(公司|組織)</dt>
            <dd>@customerInfo.CompanyName</dd>
        </dl>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <h4>收貨人資訊</h4>

        <div class="form-group">
            <input type="checkbox" class="form-group" checked id="cbx_sameAsCustomer" disabled />
            <label>同訂購人資料</label>
        </div>

        <div class="form-group">
            <label class="control-label">收貨人姓名*</label>
            <input class="form-control" value="@customerInfo.ContactName" id="input_ContactName" readonly />
        </div>
        <div class="form-group">
            <label class="control-label">收貨人電話*</label>
            <input class="form-control" value="@customerInfo.Phone" id="input_Phone" readonly />
            <span class="text-danger"></span>
        </div>
        <div>
            <label class="control-label">地址*</label>
            <input class="form-control" value="@customerInfo.Address" id="input_Address" readonly />
            <input class="form-control" value="@customerInfo.CompanyName" id="input_CompanyName" readonly />
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <h4>訂單內容</h4>
        <table class="table">
            <tr></tr>
            @{
                decimal totalSum = 0;
                int i = 0;
            }
            @foreach (var od in Model.Ods)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>
                        <img src="~/images/@od.Product.Picture" style="width:30px;" />
                    </td>
                    <td>$@od.UnitPrice</td>
                    <td>x@(od.Quantity)</td>
                </tr>
                totalSum += od.Quantity * od.UnitPrice;
            }
        </table>

        <h4>訂單金額</h4>
        <div>
            <div>金額:NT$<span id="txt_TotalPriceSum">@totalSum</span></div>
            <div>運費:NT$<span id="txt_Freight">0</span></div>
            @*<div>手續費:$0</div>*@
        </div>
        <h3>
            總計(含運費): NT$<span id="txt_TotalPriceSumPlus">@totalSum</span>
        </h3>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <h4>付款與運送方式</h4>
        <div>
            <label class="control-label">運送方式*</label>
            <select asp-for="OrderBase.ShipVia" asp-items="@Html.GetEnumSelectList(typeof(VNW.Models.ShipViaTypeEnum))"
                    class="form-control" id="sel_ShipVia"></select>
            <span id="validate_ShipVia" class="text-danger">註: 冷凍、冷凍、體積過大的商品無法由[超商取貨]</span>

            @*<input class="form-control" type="radio" />
                <input class="form-control" type="radio" />
                <input class="form-control" type="radio" />*@
        </div>


        <div>
            <label>付款方式*</label>
            <select asp-for="Payment" asp-items="@Html.GetEnumSelectList(typeof(VNW.Common.PayEnum))"
                    class="form-control" id="sel_Payment"></select>
            <span id="validate_Payment" class="text-danger"></span>
        </div>

        <div>
            <label>發票資訊</label>
            <select asp-for="Invoice" asp-items="@Html.GetEnumSelectList(typeof(InvoiceEnum))"
                    class="form-control" id="sel_Invoice"></select>
        </div>
    </div>

</div>



<hr />

<div><a class="btn btn-danger" asp-action="PrepareOrder" asp-controller="Products">退回上一步</a></div>

<div style="text-align:right">

    @*<a id="btn_Next_CheckOrder" class="btn btn-primary btn-lg" asp-action="CheckOrder" asp-controller="Products">下一步</a>*@
    <a id="btn_Next_CheckOrder" class="btn btn-primary btn-lg">下一步</a>
</div>



@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");
        var isError = false;
        var sel_ShipVia = $('#sel_ShipVia');
        var sel_Payment = $('#sel_Payment');
        var sel_Invoice = $('#sel_Invoice');

        //$('#btn_Next_CheckOrder').hide();


        preCheck();
        function preCheck() {
            //$('#btn_Next_CheckOrder').hide();
            isError = false; //clear error first
            if ($('#input_Phone').val() == "") {
                console.log("phone is empty");
                isError = true;
                $('#input_Phone').focus();

            }
            else {
                console.log("phone is pass" + $('#input_Phone').val());
            }
        }

        function SetReady() {
            $("#btn_Next_CheckOrder").show();
            //hide mask
        }
        function SetBusy(){
            $("#btn_Next_CheckOrder").hide();
            //show mask
        }

        $('#btn_Next_CheckOrder').click(function () {
            //$(this).hide();
            //SetBusy();
            preCheck();

            if (isError) {
                console.log("someting is wrong");
                SetReady();
                return;
            }
            //else {
                //console.log("Teleportation!!!!");
                //window.location = "../Products/CheckOrder";
            //}

            //::call api to set key values
            // shipvia, payment, freight,...
            var surl = "APISetAddressPay";

            console.log(" ship via " + sel_ShipVia.val());

            $.ajax({
                url: surl,
                type: "POST",
                dateType: "json",
                data: {
                    ShipVia: sel_ShipVia.val(),
                    Payment: sel_Payment.val(),
                    Invoice: sel_Invoice.val()
                },
                success: function (data) {
                    console.log("get data")
                    console.log(data)
                    if (data.result == "PASS") {
                        console.log("PASS ");
                        console.log("Teleportation!!!!");
                        //window.location = "../Products/CheckOrder";
                        window.location = "../Orders/CheckOrder";
                    }
                    else {
                        //::fail case
                        console.log("fail case");
                    }
                    SetReady();
                }, //success
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr)
                    $("#txt_failMessage").text("發生未知錯誤");
                    SetReady();
                }//error
            });//ajax
            SetReady();
        });

        function sel_ShipVia_UpdateFreight() {

            var totalSum = @totalSum;
            var thisValue = sel_ShipVia.val(); //$(this).val();//  sel_ShipVia.val();
            console.log("sel_ShipVia change " + thisValue);
            var Freight = 0;
            switch (thisValue) { //::notice: ths val() is 'string'
                case '0':
                    Freight = 0;
                    $('#txt_Freight').html(Freight);
                    $('#validate_ShipVia').html("註: 為確認您在家，送貨員會先與您連絡");
                    break;
                case '1':
                    Freight = 50;
                    $('#txt_Freight').html(Freight);
                    $('#validate_ShipVia').html("註: 冷凍、冷凍、體積過大的商品無法由[超商取貨]");
                    break;
                case '2':
                    Freight = 100;
                    console.log("Freight " + Freight);
                    //$('#txt_Freight').val(Freight);
                    //$('#txt_Freight').text(Freight);
                    $('#txt_Freight').html(Freight);
                    $('#validate_ShipVia').html("註: 小魔女會加收100元小費，不受理體積過大的商品");
                    break;
                default:
                    //console.log("default");
                    break;
            }
            $('#txt_TotalPriceSumPlus').text(totalSum + Freight);

            //console.log("e o s");
        }

        function sel_PaymentChange() {
            var msg = "";
            console.log("sel_Payment change " + sel_Payment.val());
            switch (sel_Payment.val()) {
                case '0': msg = "只接受VISA卡，不能用美國運通、黑卡、提款卡";
                    break;
                case '1': msg = "不會主動要求您去操作ATM提款或反戰車飛彈";
                    break;
                case '2': msg = "超商店員、送貨員或小魔女會向您收費，建議備好零錢";
                    break;
                default:
                    msg = "someting is wrong";
                    break;
            }
            $('#validate_Payment').html(msg);
            
        }

        sel_ShipVia.change(sel_ShipVia_UpdateFreight);

        sel_Payment.change(function () {
            //console.log("sel_Payment change " + $('#sel_Payment').val());
            sel_PaymentChange();
        });

        //:: udpate selected option for ShipVia...
        function AutoUpdateSelection() {
            try {
                @*sel_ShipVia.val(@vd_ShipVia);*@
                sel_ShipVia_UpdateFreight();
                sel_PaymentChange();
            }
            catch
            {

            }
        }
        AutoUpdateSelection();        

        console.log("jquery end");
    </script>
}