@model IEnumerable<VNW.Models.Order>

@{
    ViewData["Title"] = "OrderListForShop";
}

<h2>本店收到的訂單 </h2>
<div style="text-align:right">
    <div>員工ID: <span><b>wolf2024@@vwn.tw</b></span> </div>
    <a class="btn-primary btn">員工登入</a>
    <a class="btn-success btn">員工登出</a>
</div>
<div>
    << < 1 2 3 4 5 6 7 8 9 10 > >>
</div>


<div style="border:solid;margin:10px;">
    TEST
    @Html.DropDownList("ShipViaTypeEnum",
        Html.GetEnumSelectList(
            typeof(VNW.Models.ShipViaTypeEnum)));

    @Html.ListBox("ShipViaTypeEnum",
        Html.GetEnumSelectList(typeof(VNW.Models.ShipViaTypeEnum)))


    @Html.ListBox("OrderStatusEnum",
        Html.GetEnumSelectList(typeof(VNW.Models.OrderStatusEnum)))

    <br>
    訂單狀況
    <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Models.OrderStatusEnum))"
            multiple="multiple" class="form-control"></select>
    運送方式
    <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Models.ShipViaTypeEnum))"
            multiple="multiple" class="form-control"></select>
    支付方式
    <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Common.PayEnum))"
            multiple="multiple" class="form-control"></select>
    發票資訊
    <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Common.InvoiceEnum))"
            multiple="multiple" class="form-control"></select>

    @{
        int val1 = (int)VNW.Models.ShipViaTypeEnum.Home;
        var val2 = (int)VNW.Models.OrderStatusEnum.Finish;

        //Enum.Parse(typeof(VNW.Models.OrderStatusEnum), val2);
    }
    @val1
    @((VNW.Models.ShipViaTypeEnum)val1)
    <hr />
    @val2
    @((VNW.Models.OrderStatusEnum)val2)
    @VNW.Models.OrderStatusEnum.Finish.ToString()
    @*@VNW.Models.OrderStatusEnum.Finish.ToDescription()*@

    <ul>
        @foreach (int x in Enum.GetValues(typeof(VNW.Common.PayEnum)))
        {
            <li>
                @x
                @VNW.Common.EnumExtensions.GetDisplayName((VNW.Common.PayEnum)x)
            </li>
            <li>
                @VNW.Common.EnumExtensions.ToDescription((VNW.Common.PayEnum)x)
            </li>
        }
        @foreach (string n in Enum.GetNames(typeof(VNW.Common.PayEnum)))
        {
            <li>@n</li>
        }

        @foreach (int x in Enum.GetValues(typeof(VNW.Models.ShipViaTypeEnum)))
        {
            <li>
                @x
                @VNW.Common.EnumExtensions.GetDisplayName((VNW.Models.ShipViaTypeEnum)x)
            </li>
            <li>
                @VNW.Common.EnumExtensions.ToDescription((VNW.Models.ShipViaTypeEnum)x)
            </li>
        }

    </ul>

    <div class="btn btn-default">
        @VNW.Common.EnumExtensions.GetDisplayName(VNW.Common.PayEnum.CreditCard)
    </div>
    <div class="btn btn-default">
        @VNW.Common.EnumExtensions.GetDisplayName((VNW.Common.PayEnum)1)
    </div>
    <div class="btn btn-default">
        @VNW.Common.EnumExtensions.GetDisplayName((VNW.Common.PayEnum)2)
    </div>

</div>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>訂單編號</th>
            <th>訂貨人</th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipVia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipCountry)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><a asp-action="OrderDetailsForShop" asp-controller="orderDetails" asp-route-id="@item.OrderId" class="btn btn-primary">檢視</a></td>
            <td>@item.OrderId  </td>
            <td>
                @item.CustomerId | @Html.DisplayFor(modelItem => item.Customer.ContactName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
                @if (item.ShippedDate == null)
                {
                    <span class="alert-danger">未定</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)

                @if(item.ShippedDate == null)
                {
                    <span class="alert-danger">尚未出貨</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipVia)
                @try
                {
                    if (item.ShipVia != null)
                    {
                        @item.shipViaTypes[(int)item.ShipVia]
                        @*@item.shipViaTypes.ElementAt((int)item.ShipVia)
                        @item.shipViaTypes[(int)(@item.ShipVia)]*@
                    }
                    else
                    {
                        <span class="alert-danger lg">異常</span>
                    }
                }
                catch
                {
                    <span class="alert-danger lg">異常</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCountry)
            </td>

            <td>
                @*<a asp-action="OrderCancelForShop" asp-route-id="@item.OrderId" class="btn btn-danger">取消</a>*@


            </td>
        </tr>
}
    </tbody>
</table>
