@model IEnumerable<VNW.Models.Order>
@using VNW.Common

@{
    ViewData["Title"] = "OrderListForShop";
}

<h2>本店收到的訂單 </h2>
<div style="text-align:right">
    <div>員工ID: <span><b>wolf2024@@vwn.tw</b></span> </div>
    <a class="btn-primary btn">員工登入</a>
    <a class="btn-success btn">員工登出</a>
</div>

@*<div>
    <h4>條件快篩</h4>
    <table id="table_sortCondition">
        <tr>
            <td>訂單狀況</td><td>運送方式</td><td>支付方式</td><td> 發票資訊</td>
        </tr>
        <tr>
            <td>
                <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Models.OrderStatusEnum))"
                        multiple="multiple" class="form-control"></select>
            </td>
            <td>
                <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Models.ShipViaTypeEnum))"
                        multiple="multiple" class="form-control"></select>
            </td>
            <td>
                <select asp-items="@Html.GetEnumSelectList(typeof(VNW.Common.PayEnum))"
                        multiple="multiple" class="form-control"></select>
            </td>
            <td>
                <select asp-items="@Html.GetEnumSelectList(typeof(InvoiceEnum))"
                        multiple="multiple" class="form-control"></select>
            </td>
        </tr>
    </table>
</div>*@

<div>
    << < 1 2 3 4 5 6 7 8 9 10 > >>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>訂單編號</th>
            <th>訂貨人</th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipVia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><a asp-action="OrderDetailsForShop" asp-controller="orderDetails" asp-route-id="@item.OrderId" class="btn btn-primary">檢視</a></td>
            <td>@item.OrderId  </td>
            <td>
                @item.CustomerId | @Html.DisplayFor(modelItem => item.Customer.ContactName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
                @if (item.ShippedDate == null)
                {
                    <span class="alert-danger">未定</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)

                @if (item.ShippedDate == null)
                {
                    <span class="alert-danger">尚未出貨</span>
                }

            </td>
            <td>
                (@Html.DisplayFor(modelItem => item.ShipVia))
                @try
                {
                    if (item.ShipVia != null)
                    {
                        @EnumExtensions.GetDisplayName((ShipViaTypeEnum)item.ShipVia)
                        @*@item.shipViaTypes[(int)item.ShipVia]*@
                        @*@item.shipViaTypes.ElementAt((int)item.ShipVia)
                    @item.shipViaTypes[(int)(@item.ShipVia)]*@
                    }
                    else
                    {
                        <span class="alert-danger lg">異常</span>
                    }
                }
                catch
                {
                    <span class="alert-danger lg">異常</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPostalCode)
            </td>
            <td>
                @Html.DisplayFor(mi => item.Payment)

                @if(item.Payment == null)
                {
                    <span class="alert-danger">未設</span>
                }

            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ShipCountry)*@

                @Html.DisplayFor(mi => item.Status)

                @if (item.ShippedDate == null)
                {
                    @*@VNW.Common.EnumExtensions.GetDisplayName(OrderStatusEnum.Got)*@
                }
                else
                {
                    @*@VNW.Common.EnumExtensions.GetDisplayName(OrderStatusEnum.Finish)*@
                    <span>(已出貨)</span>
                }

            </td>

            <td>
                @*<a asp-action="OrderCancelForShop" asp-route-id="@item.OrderId" class="btn btn-danger">取消</a>*@


            </td>
        </tr>
}
    </tbody>
</table>
