@model IEnumerable<VNW.Models.Order>

@{
    ViewData["Title"] = "您的訂單總表";
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.UserAccount == null || ViewBag.UserAccount == "")
{
    <a asp-action="login" asp-controller="customers">請先登入</a>
}
else
{
    <p>
        @ViewBag.UserAccount
        <a asp-action="logout" asp-controller="Customers">登出</a>
    </p>
    @*<p><a asp-action="NewOrder">建立新訂單</a></p>*@
}

<div class="alert-danger">
    @TempData["td_server"]
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>商品數</th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipVia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ShipCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipPostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipCountry)
        </th>*@

            <th>狀態</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="DetailList" asp-controller="OrderDetails"
                   asp-route-oid="@item.OrderId" class="btn btn-primary">詳情</a>
            </td>
            <td>
                @*<a asp-action="Details" asp-route-id="@item.OrderId"> #@item.OrderId</a>*@
                #TJ202405_@item.OrderId
                
            </td>
            <td>
                @item.CustomerId
                @if (item.Customer != null)
                {
                    @*@Html.DisplayFor(modelItem => item.Customer.CustomerId)*@
                    @item.Customer.ContactName
                    @*(@item.Customer.Address)*@
                }
            </td>
            <td>
                @if (item.OrderDetails != null)
                {
                    @item.OrderDetails.Count<span>件</span>

                    if (item.OrderDetails.Count <= 0)
                    {
                        <span class="alert-danger">異常</span>
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>*@
            <td>
                @if (item.ShippedDate == null)
                {
                    <span class="alert-danger"><b>尚未出貨</b></span>
                }

                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipVia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ShipCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCountry)
            </td>*@

            <td>
                @*<img src="~/images/delete.svg" />*@
                @*<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
