@model VNW.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "OrderVMTest";
}

<h2>OrderVMTest</h2>


@if(Model == null)
{
    <span>Data is null</span>
    return;
}

<hr />
<h4>Order Base </h4>
<table class="table table-bordered">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.OrderId)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.OrderId)
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.CustomerId)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.OrderDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.RequiredDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.RequiredDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.ShippedDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.ShippedDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.ShipVia)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.ShipVia)
            @*@Model.OrderBase.ShipVia*@
            (@VNW.Common.EnumExtensions.GetDisplayName((VNW.Models.ShipViaTypeEnum)Model.OrderBase.ShipVia))

        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.Freight)
        </td>
        <td>
            NT$@Html.DisplayFor(model => model.OrderBase.Freight)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.ShipName)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.ShipName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.ShipAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.ShipAddress)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.ShipCity)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.ShipCity)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.ShipPostalCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.ShipPostalCode)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OrderBase.ShipCountry)
        </td>
        <td>
            @Html.DisplayFor(model => model.OrderBase.ShipCountry)
        </td>
    </tr>
</table>


<h4>Order Additional</h4>
<table class="table table-bordered">
    <thead>
        @*<tr><td>Item</td><td>Value</td></tr>*@
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Invoice)
            </td>
            <td>
                @Html.DisplayFor(model => model.Invoice)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Payment)
            </td>
            <td>
                @Html.DisplayFor(model => model.Payment)
                (@Model.Payment)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.TotalPriceSum)
            </td>
            <td>
                NT$@Html.DisplayFor(model => model.TotalPriceSum)
            </td>
        </tr>
    </tbody>
</table>

<hr />
<h4>Details|Shopping Cart|Products </h4>
<table class="table table-hover table-striped">
    <tr>
        <td>pid</td>
        <td>name</td>
        <td></td>
        <td>qty</td>
        <td>
            price
            @*@Html.DisplayNameFor(model => model.Ods)*@
            @*@Html.DisplayName(OrderDetail)*@
        </td>
        @*<td>@Html.DisplayNameFor(VNW.Models.Product)   </td>*@
    </tr>
    @foreach (OrderDetail item in Model.Ods)
    {
    <tr>
        <td>@item.ProductId</td>
        <td><img src="~/images/@item.Product.Picture" style="width:80px; " /></td>
        <td>
            @item.Product.ProductName
        </td>
        <td>@item.Quantity</td>
        <td>
            @*@item.Product.UnitPrice*@
            @Html.DisplayFor(modelitem => item.Product.UnitPrice)        
        </td>
    </tr>
    }
</table>
<hr />

@{
    return; //try to skip below statemtns
}

