@using VNW.Common
@{
    ViewData["Title"] = "訂單明細預覽";
    VNW.Models.Customer member = null;
    VNW.Models.Order newOrder = null;
    IEnumerable<VNW.Models.OrderDetail> OrderDetails = null;

    bool isError = false;

    //ViewData["ShipVia"]
    //ViewData["Payment"]
    //ViewData["Invoice"]
}

<h2>@ViewData["Title"]</h2>
<hr />
<div>
    [1.確認購物車] > [2.付款與運送方式] > <b>[3.訂單確認]</b>
</div>


<div class="alert-danger">@TempData["td_serverWarning"]</div>
<div class="alert-info">@TempData["td_serverInfo"]</div>

<hr />
<h4>訂貨客戶</h4>
@if (ViewData["member"] != null)
{
    member = (VNW.Models.Customer)ViewData["member"];
    <ul>
        <li>ID: @member.CustomerId</li>
        <li>姓名: @member.ContactName</li>
        <li>公司: @member.CompanyName</li>
    </ul>
}
else
{
    <span>member is null</span>
}

<hr />



<h4>訂單主頁</h4>
@if (ViewData["newOrder"] != null)
{
    newOrder = (VNW.Models.Order)ViewData["newOrder"];

    <table class="table">
        <tr>
            <td>客戶帳號</td>
            <td>@newOrder.CustomerId</td>
        </tr>
        <tr>
            <td>訂單編號</td>
            <td><span class="text-warning">(會自動產生)</span>@*@newOrder.OrderId*@</td>
        </tr>
        <tr>
            <td>地址</td>
            <td>@newOrder.ShipAddress</td>
        </tr>
        <tr>
            <td>收貨地(公司|組織)</td>
            <td>@newOrder.ShipName</td>
        </tr>
        <tr>
            <td>城市</td>
            <td>@newOrder.ShipCity</td>
        </tr>
        <tr>
            <td>郵遞區號</td>
            <td>@newOrder.ShipPostalCode</td>
        </tr>
        <tr>
            <td>訂貨時間</td>
            <td>@newOrder.OrderDate <span class="text-warning">(預計, 會自動產生)</span> </td>
        </tr>
        @*<tr>
                <td>需求時間</td>
                <td>@newOrder.RequiredDate (TBC)</td>
            </tr>*@
        <tr>
            @*<td>@Html.DisplayName(newOrder.ShippedDate)</td>*@
            <td>寄送時間</td>
            <td> <span class="text-warning">(待店家接單會自動產生)</span> @*@item.OrderId*@</td>
        </tr>
        <tr>
            <td>送貨方式</td>
            <td>
                (@newOrder.ShipVia)

                @try
                {
                    @EnumExtensions.GetDisplayName((VNW.Models.ShipViaTypeEnum)newOrder.ShipVia)
                }
                catch
                {
                    <span class="alert-danger">異常</span>
                }
            </td>
        </tr>
        <tr>
            <td>運費</td>
            <td>@newOrder.Freight</td>
        </tr>
    </table>

}

<hr />
<h4>訂單明細</h4>
@if (ViewData["OrderDetails"] != null)
{
    OrderDetails = (IEnumerable<VNW.Models.OrderDetail>)ViewData["OrderDetails"];
    <table class="table">
        <tr>
            <td>#</td>
            <td>訂單編號</td>
            <td>商品編號</td>
            <td>商品名稱</td>
            <td></td>
            <td>目前庫存</td>
            @*<td>UnitOnOrder</td>*@
            <td>數量</td>
            <td>單價</td>
            <td>折扣</td>
            <td>小記</td>
            <td></td>
        </tr>
        @{
            decimal totalSum = 0;
            int i = 0;
        }

        @foreach (var item in OrderDetails)
        {

            string CheckMark = " 通過初檢 ";

            decimal totalPrice = item.UnitPrice * item.Quantity;
            totalSum += totalPrice;

            if (item.Quantity > item.Product.UnitsInStock)
            {
                isError = true;
                CheckMark = "庫存不足，請修改數量或取消";
            }

            <tr>
                <td>@(++i)</td>
                <td> <span class="text-warning">(會自動產生)</span> @*@item.OrderId*@</td>
                <td>@item.ProductId</td>
                <td><img src="~/images/@item.Product.Picture" style="width:50px;" /></td>
                <td>
                    @if (item.Product != null)
                    {
                        @item.Product.ProductName
                    }
                </td>
                <td>@item.Product.UnitsInStock </td>
                @*<td>@item.Product.UnitsOnOrder </td>*@
                <td>@item.Quantity </td>
                <td>$@item.UnitPrice</td>
                <td>@item.Discount </td>
                <td>$@(totalPrice) </td>
                <td>
                    @if (isError)
                    {
                        <span class="alert-danger">@CheckMark</span>
                    }
                    else
                    {
                        <span class="alert-success">@CheckMark</span>
                    }
                </td>
            </tr>
        }
    </table>
    <h3 style="text-align:right">總計: NT$@totalSum</h3>

    <h3 style="text-align:right">總計(含運費): NT$@(totalSum+newOrder.Freight)</h3>
    

}

<a class="btn btn-danger" asp-action="OrderSetAddressPay" asp-controller="Orders"
   style="margin-right:20px;">退回前一步</a>
<div style="text-align:right;">
    @*
        <a class="btn btn-lg btn-danger" asp-action="PrepareOrder" style="margin-right:20px;">退回前一步</a>
    *@

    @if (isError)
    {
        <p class="alert-danger">註: 發現訂單內有異常，無法送出</p>
    }
    else
    {
        <a class="btn btn-lg btn-primary" asp-controller="Orders" asp-action="CreateOrderAndDetails">確認並送出</a>
        <p>註: 按下[確認並送出]才正式產生訂單資料</p>
    }

</div>





<table class="table-bordered">
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>








