@model VNW.Models.Product

@{
    ViewData["Title"] = "商品管理修改(Admin*)";
}

<h2>@ViewData["Title"]</h2>

<hr />
<a class="btn btn-primary" asp-action="ProductDetailForShop" asp-route-id="@Model.ProductId">商品細節</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="RowVersion" />

            <div class="form-group">
                <label class="control-label" asp-for="LastModifiedTime"></label>
                <input asp-for="LastModifiedTime" class="form-control" readonly />

                <label class="control-label" asp-for="RowVersion"></label>
                <input class="form-control" readonly value="@foreach(var b in Model.RowVersion){@b}" />
            </div>

            <div class="form-group">
                <label class="control-label">鎖定產品</label>
                <div class="checkbox">
                    <label>
                        <input asp-for="IsLocked" style="width:20px;height:20px;" /> @Html.DisplayNameFor(model => model.IsLocked)                        
                    </label>
                </div>
                <div style="border:solid;border-width:1px;width:70%">
                    <label class="control-label">強制修改模式(BETA)</label><br />

                    <span class="text-danger">針對DbUpdate Concurrency Exception的狀況強制修改</span>
                    <input type="checkbox" name="ForceUpdate" style="width:20px;height:20px;" />
                </div>

            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityPerUnit" class="control-label"></label>
                <input asp-for="QuantityPerUnit" class="form-control" />
                <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label"></label><b class="alert-warning">(*留意: 直接修改可能造成問題)</b>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsReserved" class="control-label"></label><b class="alert-danger">(*留意: 直接修改可能造成問題)</b>
                <input asp-for="UnitsReserved" class="form-control" />
                <span asp-validation-for="UnitsReserved" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnitsOnOrder" class="control-label"></label>
                <input asp-for="UnitsOnOrder" class="form-control" />
                <span asp-validation-for="UnitsOnOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReorderLevel" class="control-label"></label>
                <input asp-for="ReorderLevel" class="form-control" />
                <span asp-validation-for="ReorderLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Discontinued" /> @Html.DisplayNameFor(model => model.Discontinued)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*<input asp-for="Description" class="form-control" />*@
                <textarea name="Description" id="Description" class="form-control">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.ProductId">取消</a>

                <input type="submit" value="送出變更" class="btn btn-danger" />

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section topCSS{
    <style>
    </style>

}

@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");
    </script>
}
