@model VNW.Models.Product

@{
    ViewData["Title"] = "商品管理修改(店家)";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3 class="alert-info">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger">@TempData["td_serverWarning"]</h3>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditForShop">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="RowVersion" />
            @*<input type="hidden" asp-for="LastModifiedTime" />*@
            <div class="form-group">
                <label class="control-label">時間戳記(測試功能, 避免同時修改衝突)</label>
                <input asp-for="LastModifiedTime" class="form-control" readonly />
                <span asp-validation-for="LastModifiedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityPerUnit" class="control-label"></label>
                <input asp-for="QuantityPerUnit" class="form-control"/>
                <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label"></label> 
                <b class="text-danger">(不開放直接修改)</b>
                <input asp-for="UnitsInStock" class="form-control" readonly/>
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UnitsReserved" class="control-label"></label>
                <b class="text-danger">(不開放直接修改)</b>
                <input asp-for="UnitsReserved" class="form-control" readonly />
                <span asp-validation-for="UnitsReserved" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnitsOnOrder" class="control-label"></label>
                <b class="text-danger">(不開放直接修改)</b>
                <input asp-for="UnitsOnOrder" class="form-control" readonly />
                <span asp-validation-for="UnitsOnOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReorderLevel" class="control-label"></label>
                <input asp-for="ReorderLevel" class="form-control" />
                <span asp-validation-for="ReorderLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Discontinued" /> @Html.DisplayNameFor(model => model.Discontinued)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*<input asp-for="Description" class="form-control" />*@
                <textarea name="Description" id="Description" class="form-control">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-default" asp-action="ProductDetailForShop" asp-route-id="@Model.ProductId">取消</a>

                <input type="submit" value="送出變更" class="btn btn-danger" />

            </div>
        </form>
    </div>
</div>

@*<div>
    <div id="quantitylist">
        <div class="qtyminus" goodNumber="6060102630" stock="0" price="120" promoNum="" giftacml="" giftId="" giftNum="" stock1="" nowAmount="0"></div>
        <input type="text" name="quantity" id="quantity" value="0" mark="0" class="qty" readonly="readonly" />
        <div class="qtyplus" goodNumber="6060102630" stock="0" price="120" promoNum="" giftacml="" giftId="" giftNum="" stock1="" nowAmount="0"></div>
    </div>

    <div class="btn btn-primary">+1</div>
    <div class="btn btn-primary">+10</div>
    <div class="btn btn-danger">-1</div>
    <div class="btn btn-danger">-10</div>
</div>*@


@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section topCSS{
    <style>
    </style>

}

@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");
    </script>
}
