@model IEnumerable<VNW.ViewModels.ShoppingCart>

@{
    ViewData["Title"] = "PrepareOrder";
    int totalPriceSum = 0;
}

<h2>確認購物車</h2>
<hr />

<p> <b>[1.確認購物車]</b> > [2.付款與運送方式] > [3.訂單確認]</p>

<b>
    <span class="alert-danger" id="td_serverWarning">@TempData["td_serverWarning"]</span>
    <span class="alert-success">@TempData["td_serverInfo"]</span>
</b>

<div id="img_loading" style=""><center>讀取中...<img src="~/images/loading.gif" style="width:150px;" /></center></div>
<div id="MaskWindow" style="opacity:0.05;background:#0f0;width:100%;height:100%;z-index:99;position:absolute;top:0;left:0;cursor:no-drop;"></div>

<div id="popup" class="modal-box">
    <header>
        <a href="#" class="js-modal-cancel closeBtn">x</a>
        <h3>清空購物車</h3>        
    </header>
    <div class="modal-body">
        <p>將您暫存的購物清單全刪除?</p>
    </div>
    <footer>
        <a href="#" class="js-modal-close btn btn-danger">刪除</a>
        <a href="#" class="js-modal-cancel btn btn-default">取消</a>
    </footer>
</div>

@*<div id="txt_shoppingCart"></div>*@
<h4>一般訂單</h4>
<table class="table">
    <thead>
        <tr>
            <th>商品</th>
            <th>品名</th>
            <th>單價</th>
            <th>數量</th>
            <th>價格</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody_data">
        @*<tr>
            <td>
                <img src="~/images/product_4321_0.jpg" style="width:100px;" />
            </td>
            <td>好野狼三輪機車(125CC等級混和動力)</td>
            <td>14,000</td>
            <td>
                <input type="number" value="1" />
            </td>
            <td>14,000</td>
            <td>
                <a class="btn btn-default"> 取消</a>
            </td>
        </tr>*@

        @if (Model != null)
        {
            
            @foreach (var item in Model)
            {
                int PriceByQty = item.Price* item.Qty;
                totalPriceSum += PriceByQty;
                <tr>
                    <td>
                        <a asp-route-id="@item.Pid" asp-controller="products" asp-action="product_details">
                        <img src="~/images/@item.Img" style="width:100px;" /></a>
                    </td>
                    <td>@Html.Raw(item.Name)</td>

                    <td>$<span class="unitPrice @item.Pid">@item.Price</span></td>
                    <td>
                        @*<input type="number" value="@item.Qty" />*@
                        <select class="selectQty" pid="@item.Pid" OldQty="@item.Qty">
                            @for (int i = 1; i <= 10; i++)
                            {
                                if (i == @item.Qty)
                                {
                                    <option selected>@i</option>
                                }
                                else
                                {
                                    <option>@i</option>
                                }

                            }
                        </select>
                    </td>                   

                    <td>$<span class="TotalPrice @item.Pid">@PriceByQty</span></td>
                    <td>
                        <a class="btn btn-default btn_CancelItem" id="btn_CancelItem" pid="@item.Pid" >取消</a>
                    </td>
                </tr>
            }//foreach
        }
    </tbody>
</table>

<hr/>
<p>
    <div id="div_loadListTools">
        <a id="btn_GetShoppingCart" class="btn btn-success">GetShoppingCart</a>
        <hr />*Data from cookie via Ajax
        <div id="txt_debug" class="alert-info"></div>
    </div>    
</p>

<div>
    <h4>訂單金額</h4> <h3><b>NT$<span id="TotalPriceSum">@totalPriceSum</span></b></h3>
</div>

<p>
    <a id="btn_SendOrder" class="btn btn-primary btn-lg">確認並送出</a>
</p>
<p>
    <a id="btn_clearCart" class="btn btn-danger btn-lg">清空購物車</a>
</p>


@section topCSS{ 
    <style>
        .modal-box {
            display:none;
            position: absolute;
            z-index: 1000;
            width: 80%;
            background: white;
            border-bottom: 1px solid #aaa;
            border-radius: 10px;
            border: 1px solid rgba(0,0,0,0.5);
            background-clip: padding-box;
            opacity: 0.9;
        }

        .modal-box header{
            padding:1.5em;
            border-bottom:1px solid #ddd;
        }

        .modal-box header h3,
        .modal-box header h4/*,
        .modal-box .modal-header h4,
        .modal-box .modal-header h3*/
        {margin:0;}

        /*.modal-box .modal-footer,*/
        .modal-box footer{
            padding:1em;
            border-top:1px solid #ddd;
            text-align:right;
        }

        .modal-box .modal-body{
            padding:2em 1.5em;
            /*font-size: 2em;*/
        }

        a.closeBtn { /*change name from close to closeBtn*/
            line-height: 2;
            font-size: 1.5em;
            position: absolute;
            top: 5%;
            right: 2%;
            text-decoration:none;
            color: #bbb;
        }
        a.closeBtn:hover {
            color:#222;
            /*transition: color1s ease;*/
        }

    </style>
}

@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");

        var btn_GetShoppingCart = $('#btn_GetShoppingCart');
        //$('#btn_GetShoppingCart').click(GetShoppingCart);
        //var btn_CancelItem = $('#btn_CancelItem');

        $('#div_loadListTools').hide();        

        //GetShoppingCart(); //auto pre-load
        btn_GetShoppingCart.text("LOAD");
        btn_GetShoppingCart.on('click',GetShoppingCart);

        function GetShoppingCart() {
            console.log("btn_GetShoppingCart_click");
            //::call api (store p.id in cookie)
            //$('#btn_GetShoppingCart').hide();
            $("#txt_Message").text("處理中");
            btn_GetShoppingCart.text("RELOAD");
            //ajax
            try {
                console.log("ajax r/w data...");
                var surl = "GetShoppingCart";
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",
                    data: {
                        @*//pid: @Model.ProductId,
                        //catid: @Model.CategoryId*@
                    },
                    success: function (data) {
                        console.log("get data")
                        console.log(data)

                        if (data.result == "PASS") {
                            console.log("PASS ");
                            console.log("prodCount " + data.prodCount);
                            //$('#txt_shoppingCart').text("購物車 (" + data.prodCount + ")");
                            $('#txt_debug').text(data.detail);
                            console.log("data.detail =" + data.detail);
                            if (data.detail != null) {
                                generateTable(data.detail);
                            }
                            if (data.prodCount <= 0) {
                                $('#btn_SendOrder').hide();
                                $('#btn_clearCart').hide();
                                btn_clearCart
                            }
                            else {
                                $('#btn_SendOrder').show();
                                $('#btn_clearCart').show();
                            }
                        }
                        else {
                            //::fail case
                            console.log("fail case");
                            var failMessage = "回傳非預期的資訊";
                            $('#txt_debug').text(failMessage + ' ' + data.detail);
                        }
                        //$('#btn_GetShoppingCart').show();

                    }, //success
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr)
                        $("#txt_failMessage").text("發生未知錯誤");
                    }//error
                });
                return;
            }
            catch (err) {
                console.log("exception " + err);
                //btn_GetShoppingCart.show();
                $("#txt_failMessage").text("發生未知錯誤");
                return;
            }
        }//

        function generateTable(dataDetail) {

            try {
                //::covert object from json string
                var jsonRes = JSON.parse(dataDetail);
                //var jsonRes = JSON.stringify(data.detail);
                console.log(jsonRes);
                console.log(jsonRes.length);
                //console.log(jsonRes);
                var tempstr = "";
                $('#tbody_data').text(""); //reset
                //::update data in UI table
                for (var i = 0; i < jsonRes.length; i++) {

                    var priceByQty = jsonRes[i].Price * jsonRes[i].Qty;

                    tempstr += '<tr><td><img src="../images/'
                        + jsonRes[i].Img + '" style="width:100px;"/></td><td>'
                        + jsonRes[i].Name + '</td><td>'
                        + jsonRes[i].Price + '</td><td><input type="number" value="'
                        + jsonRes[i].Qty + '" />'
                        + '</td><td>' + priceByQty
                        + '</td> <td> <div class="btn btn-info">取消</div>  </td> </tr>';
                }
                $('#tbody_data').append(tempstr);
            }
            catch
            {

            }
        }

        $('#btn_clearCart').on('click',function () {
            console.log("clear cart click");
            $(".modal-box").fadeIn(500, function () {
                console.log("show modal box");
            });
            //$(".modal-box").fadeTo(500,1);
        });

        //::use class (share same name for different buttons, switch by pid)
        $('.btn_CancelItem').on('click', function () {            
            console.log("use class, cancel item click");
            var pid = 0;         
            //::get pid from element
            pid = this.getAttribute("pid");            
            console.log("pid " + pid);            
            if (pid != 0) {
                //::call api
                console.log("ajax, cancel item " + pid);                
                var surl = "RemoveShoppingCart";
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",
                    data: {
                        pid: pid
                    },
                    success: function (data) {
                        console.log("get data")
                        console.log(data)
                        if (data.result == "PASS") {
                            console.log("PASS ");
                            //GetShoppingCart(); //try to reload 
                            window.location = "PrepareOrder";
                        }
                        else {
                            //::fail case
                            console.log("fail case");
                        }
                    }, //success
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr)
                        //$("#txt_failMessage").text("發生未知錯誤");
                    }//error
                });                
            }
        });

        //::Qty change
        $('.selectQty').on('change',function () {
            //console.log("use class, change select option");

            var newQtyValue = $(this).val();
            console.log("newQtyValue: " + newQtyValue);              

            var OldQtyValue = 1;
            OldQtyValue = parseInt(this.getAttribute('OldQty'));
            console.log("OldQtyValue: " + OldQtyValue);

            if (OldQtyValue == newQtyValue) {
                console.log("do not change");
                return;
            }
            this.setAttribute('OldQty', newQtyValue);

            var pid = this.getAttribute("pid");
            //console.log("pid " + pid);

            //::update total price for this product
            //:: Total Price = UnitPrice * Qty 
            var unitPrice = parseInt($('.unitPrice.' + pid).text());
            $('.TotalPrice.' + pid).text(newQtyValue * unitPrice);

            SetBusy();

            //::call api to update qty in cookie
            //::update qty select range?  {1 ~ stock}            
            var surl = "UpdateQty";
            $.ajax({
                url: surl,
                type: "POST",
                dateType: "json",
                data: {
                    pid: pid,
                    qty: newQtyValue
                },
                success: function (data) {
                    console.log("get data")
                    console.log(data)
                    if (data.result == "PASS") {
                        console.log("PASS ");
                        //:: Total Price Sum
                        var oldSum = parseInt($('#TotalPriceSum').text());
                        console.log("oldSum: " + oldSum);

                        var priceChange = (newQtyValue - OldQtyValue) * unitPrice;
                        console.log("priceChange: " + priceChange);

                        var newSum = oldSum + priceChange;
                        console.log("newSum: " + newSum);
                        $('#TotalPriceSum').text(newSum);
                        SetReady();
                    }
                    else {
                        //::fail case
                        console.log("fail case");
                        $("#td_serverWarning").text("發生未知錯誤");
                        SetReady();
                    }
                }, //success
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr)
                    $("#td_serverWarning").text("發生未知錯誤");
                    SetReady();
                }//error
            });     
            
        });

        function SetBusy() {
            $('#img_loading').show();
            $('#MaskWindow').show();            
        }
        function SetReady() {
            $('#img_loading').hide();
            $('#MaskWindow').hide();
        }
        SetReady(); //hide busy window


        //::for modal study
        $(".modal-box").hide();
        $('.js-modal-close').click(function () {
            //$('#popup').hide();
            $(".modal-box").fadeOut(500, function () {
                console.log("call api to clear data");
            });
        });
        //$(".modal-box").fadeIn(500, function () {
        //});
        $('.js-modal-cancel').click(function () {
            //$('#popup').hide();
            $(".modal-box").fadeOut(500, function () {
                console.log("Cancelled clear");
            });
        });


        console.log("jquery end");
    </script>
}
