@*@model IEnumerable<VNW.ViewModels.ProductsViewModel>*@

@model IEnumerable<VNW.Models.Product>

@{
    ViewData["Title"] = "商品清單";
}

<p>
    <a asp-action="Index" asp-controller="Home">首頁</a>
    > <a asp-action="CategoryList" asp-controller="categories">商品分類</a>
    > @(ViewBag.catName)
    @if (ViewBag.searchKey != null)
    {
        <span>關鍵字查詢:"@ViewBag.searchKey"</span>
    }
</p>
<h2>@ViewBag.catName</h2>

<div style="text-align:right">
    <a class="btn btn-danger" id="btn_shippingCart" asp-action="PrepareOrder">購物車(0)</a><br />
</div>

<div style="padding:2px;margin:2px;">
    @*<sapn><vc:product-cate /></sapn>*@
    @await Component.InvokeAsync("ProductCate")
</div>

<div>
    <form asp-action="ProductList" asp-controller="products">
        <h4>用關鍵字找商品(可輸入1~20個字) </h4>
        <table>
            <tr>
                <td><input id="input_search" name="search" class="form-control" style="" value="@ViewBag.searchKey" /></td>
                <td><input type="submit" value="查詢" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>
</div>

<div id="txt_PassMessage"></div>
<div id="txt_FailMessage"></div>
<div>
    <h3 class="alert-info">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger">@TempData["td_serverWarning"]</h3>
</div>

<div>
    <vc:pages></vc:pages>
    @*<partial name="_PagesPartial" />*@
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-4 col-xs-6" style="align-items:center">
            <a asp-action="Product_Details" asp-route-id="@item.ProductId">
                @Html.DisplayFor(modelItem => item.ProductName)
                @if (item.Picture != null)
                {
                    <br><img src="~/images/products/@item.Picture"
                             style="width:150px;height:150px;" />
                }
                else
                {
                    <br><img src="~/images/default.jpg"
                             style="width:150px;" />
                }
                <br>
            </a>
            @*@Html.DisplayFor(modelItem => item.QuantityPerUnit)*@
            <b>
                $@item.UnitPrice
                @{
                    short UnitsReserved = 0;
                    if (item.UnitsReserved != null)
                    {
                        UnitsReserved = (short)item.UnitsReserved;
                    }
                }

                @if (item.IsLocked)
                {
                    <span class="alert-danger">暫不開放</span>
                }
                else
                if (item.UnitsInStock != null && (item.UnitsInStock - UnitsReserved) > 0 && !item.Discontinued)
                {

                    if (item.UnitsReserved < 0 || item.UnitsInStock <= 0)
                    {
                        <span class="alert-danger">預定量超標</span>
                    }
                    else
                    {
                        @*<a class="btn btn-success" style="padding:1px;">預購</a>*@
                        <a class="btn_AddProductInOrder"
                           pid="@item.ProductId">加入購物車</a>
                    }
                }
                else
                {
                    <span class="alert-danger">缺貨</span>
                }
            </b>
            @*(@item.UnitsInStock)*@
        </div>
    }
</div>

@section topCSS{
    <style>
        #txt_PassMessage {
            /*position: absolute;*/
            position: fixed;
            top: 100px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 99;
            align-self: center;
            font-size: 20px;
            padding: 10px;
            color: black;
            display: none; /**/
            background-color: greenyellow;
        }

        #txt_FailMessage {
            /*position: absolute;*/
            position: fixed;
            top: 100px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 99;
            align-self: center;
            font-size: 20px;
            padding: 10px;
            color: black;
            display: none; /**/
            background-color: orangered;
        }

        .btn_AddProductInOrder {
            padding: 2px;
            border-radius: 2px;
            background-color: forestgreen;
            color: white;
        }

            .btn_AddProductInOrder:hover {
                color: yellow;
                background-color: darkseagreen;
                cursor: pointer;
            }
    </style>
}

@section endJS{
    @*<!--jquery code-->*@
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");

        //var btn_AddProductInOrder = $('#btn_AddProductInOrder');
        //btn_AddProductInOrder.click(btn_AddProductInOrder_click);

        //use class with pid
        $('.btn_AddProductInOrder').click(btn_AddProductInOrder_click);


        function btn_AddProductInOrder_click() {
            console.log("btn_AddProductInOrder_click");
            //::call api (store p.id in cookie)

            var _pid = 0;
            _pid = this.getAttribute("pid");
            console.log("_pid: " + _pid);

            //$("#txt_Message").text("處理中");
            //ajax
            try {
                console.log("ajax r/w data...");
                var surl = "AddProductInOrder";
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",
                    data: {
                        pid: _pid,
                        @*pname: "@Model.ProductName",
                        img: "@Model.Picture",
                        price: @Model.UnitPrice*@
                    },
                    success: function (data) {
                        console.log("get data")
                        console.log(data)

                        if (data.result == "PASS") {
                            $("#txt_PassMessage").text("已加入購物車");
                            //$("#txt_Message").text("已加入" + data.detail);
                            console.log("PASS ");
                            console.log("prodCount " + data.prodCount);

                            $("#txt_PassMessage").fadeIn(0, function () {
                                $("#txt_PassMessage").fadeOut(3000);
                            });
                            //btn_GetCount_click();
                            $('#btn_shippingCart').text("購物車 (" + data.prodCount + ")");
                        }
                        else {
                            //fail case
                            var failMessage = "※提示：找不到符合您輸入的資料!";
                            $("#txt_Message").text("");
                            $("#txt_FailMessage").text(failMessage);
                            console.log("not pass");
                            $("#txt_FailMessage").fadeIn(0, function () {
                                $("#txt_FailMessage").fadeOut(3000)
                            });
                        }
                        //$('#btn_AddProductInOrder').show();

                    }, //success
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr)
                        $("#txt_FailMessage").text("發生未知錯誤");
                        $("#txt_FailMessage").fadeIn(0, function () {
                            $("#txt_FailMessage").fadeOut(3000)
                        });
                    }//error
                });
                return;
            }
            catch (err) {
                console.log("exception " + err);
                //btn_AddProductInOrder.show();
                $("#txt_FailMessage").text("發生未知錯誤");

                $("#txt_FailMessage").fadeIn(0, function () {
                    $("#txt_FailMessage").fadeOut(3000)
                });

                return;
            }
        }

        btn_GetCount_click();
        function btn_GetCount_click() {
            try {
                console.log("ajax r/w data...");
                var surl = "GetShoppingCart";
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",
                    success: function (data) {
                        console.log("get data")
                        console.log(data)

                        if (data.result == "PASS") {
                            console.log("PASS ");
                            console.log("prodCount " + data.prodCount);

                            $('#btn_shippingCart').text("購物車 (" + data.prodCount + ")");

                        }
                        else {
                            //fail case
                            $('#btn_shippingCart').text("購物車 (0)");

                        }

                    }, //success
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr)
                        $('#btn_shippingCart').text("購物車 (0)");

                    }//error
                });
                return;
            }
            catch (err) {
                console.log("exception " + err);
                //btn_AddProductInOrder.show();
                $("#txt_failMessage").text("發生未知錯誤");
                return;
            }
        }

        console.log("jquery end");
    </script>

}