@*@model VNW.ViewModels.ProductsViewModel*@

@model VNW.Models.Product

@{
    //ViewData["Title"] = "Product_Details";
    ViewData["Title"] = Model.ProductName;
}

<h2>@Model.ProductName</h2>

<div>
    <a asp-action="CategoryList" asp-controller="categories">商品分類</a>
    >>
    <a asp-action="ProductList"> @ViewBag.catName 類</a>
</div>

<div>
    @*<h4>@Model.ProductName</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.CategoryId)*@
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Picture)*@
        </dt>
        <dd>
            @if (Model.Picture != null)
            {
                <img src="~/images/@Model.Picture"
                     style="width:250px;" />
                //border: solid; border - width:1px; border - radius:5px;
            }
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Model.Description </dd>

    </dl>
</div>
<div>
    | <a asp-action="CategoryList" asp-controller="categories">商品分類</a>
    | <a asp-action="ProductList">回到商品清單</a>
    |
</div>
