@*@model IEnumerable<VNW.ViewModels.ProductsViewModel>*@

@model IEnumerable<VNW.Models.Product>

@{
    ViewData["Title"] = "商品清單";
}

<p>
    <a asp-action="Index" asp-controller="Home">首頁</a>
    > <a asp-action="CategoryList" asp-controller="categories">商品分類</a>
    > @(ViewBag.catName)
</p>
<h2>@ViewBag.catName</h2>

 1 2 3 4 5 

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-4 col-xs-6" style="align-items:center">
            <a asp-action="Product_Details" asp-route-id="@item.ProductId">
                @Html.DisplayFor(modelItem => item.ProductName)
                @if (item.Picture != null)
                {
                    <br><img src="~/images/@item.Picture"
                             style="width:150px; " />
                }
                else
                {
                    <br><img src="~/images/default.jpg"
                             style="width:150px;" />
                }
                <br>
            </a>
            @*@Html.DisplayFor(modelItem => item.QuantityPerUnit)*@
            <b>
                $@item.UnitPrice


                @if (item.UnitsInStock != null && item.UnitsInStock > 0)
                {
                    //(庫存 @item.UnitsInStock )
                    @*<a class="btn btn-success" style="padding:1px;">預購</a>*@

                    <a style="padding:2px; border-radius:2px;background-color:forestgreen;color:white;">加入購物車</a>
                }
                else
                {
                    <span class="alert-danger">缺貨</span>
                }

            </b>            

        </div>
    }
</div>

