@*@model VNW.ViewModels.ProductsViewModel*@

@model VNW.Models.Product

@{
    //ViewData["Title"] = "Product_Details";
    ViewData["Title"] = Model.ProductName;
}


<div>
    <h3 class="alert-info">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger">@TempData["td_serverWarning"]</h3>
</div>

<p>
    <a asp-action="Index" asp-controller="Home">首頁</a>
    > <a asp-action="CategoryList" asp-controller="categories">商品分類</a>
    > <a asp-action="ProductList"> @ViewBag.catName</a>
    >
</p>
<h2>@Model.ProductName</h2>

<p style="text-align:right">
    <a class="btn btn-danger" id="btn_shippingCart" asp-action="PrepareOrder">購物車(0)</a><br />
</p>
@*<div style="padding:2px;margin:2px;">
    <vc:product-cate />
</div>*@

<div>
    @*<h4>@Model.ProductName</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.CategoryId)*@
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
            @if (Model.UnitsInStock != null && Model.UnitsInStock > 0)
            {
            }
            else
            {
                <span class="alert-danger">缺貨</span>
            }
        </dd>

        <dt>可下單量</dt>
        <dd>
            @{
                short UnitsReserved = 0;

                @if (Model.UnitsReserved != null)
                {
                    UnitsReserved = (short)Model.UnitsReserved;
                }
            }
            @(Model.UnitsInStock - UnitsReserved)
        </dd>

        <dt>狀態</dt>
        <dd>
            @if (Model.Discontinued == true || Model.IsLocked)
            {
                <b style="color:red;">已下架或目前暫不開放</b>
            }
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Picture)*@
        </dt>
        <dd>
            @if (Model.Picture != null)
            {
                <img src="~/images/products/@Model.Picture"
                     style="width:250px;" />
                //border: solid; border - width:1px; border - radius:5px;
            }
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Model.Description </dd>
        <dd>
            @if (Model.UnitsInStock != null && (Model.UnitsInStock - UnitsReserved) > 0 && !Model.Discontinued && !Model.IsLocked)
            {
                if (Model.UnitsReserved < 0)
                {
                    <span class="alert-danger">預購量超標, 或庫存不足 無法下單</span>
                }
                else
                {
                    <div class="btn btn-lg btn-primary" id="btn_AddProductInOrder">加入購物車</div>
                }
            }
            else
            {
                <h4 class="alert-danger">庫存不足或未開放 無法下單</h4>
                @*<span class="alert-dismissible">貨到通知...</span>*@
            }
            <div class="alert-info" id="txt_Message"></div>
            <div class="alert-danger" id="txt_failMessage"></div>
        </dd>
        <p>註: 產品資料會先暫存在您的瀏覽器Cookie中， 請登入後完成訂單</p>
    </dl>
</div>

@*<div>
        | <a asp-action="CategoryList" asp-controller="categories">商品分類</a>
        | <a asp-action="ProductList">回到商品清單</a>
        |
    </div>*@

@if ((string)ViewData["UserLevel"] == "1A" || (string)ViewData["UserLevel"] == "2B") //2B: for B shop side
{
    <a asp-action="ProductDetailForShop" asp-route-id="@Model.ProductId"
       asp-controller="products" class="btn btn-success btn-lg">確認細節與編輯(商家專用*)</a>
}

@if ((string)ViewData["UserLevel"] == "1A") //1A: admin
{
    <a asp-action="Edit" asp-route-id="@Model.ProductId"
       asp-controller="products" class="btn btn-danger btn-lg">編輯(管理者*)</a>
}

@section endJS{
    @*<!--jquery code-->*@
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");

        var btn_AddProductInOrder = $('#btn_AddProductInOrder');
        var btn_GetCount = $('#btn_GetCount');

        btn_AddProductInOrder.click(btn_AddProductInOrder_click);
        function btn_AddProductInOrder_click() {
            console.log("btn_AddProductInOrder_click");
            //::call api (store p.id in cookie)
            //$('#btn_AddProductInOrder').hide();
            $("#txt_Message").text("處理中");
            //ajax
            try {
                console.log("ajax r/w data...");
                var surl = "../AddProductInOrder";
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",
                    data: {
                        pid: @Model.ProductId,
                        pname: "@Model.ProductName",
                        img: "@Model.Picture",
                        price: @Model.UnitPrice
                        @*cate: @Model.CategoryId*@
                        @*pname: @Model.ProductName*@
                    },
                    success: function (data) {
                        console.log("get data")
                        console.log(data)

                        if (data.result == "PASS") {
                            $("#txt_Message").text("已加入");
                            //$("#txt_Message").text("已加入" + data.detail);
                            console.log("PASS ");
                            console.log("prodCount " + data.prodCount);
                            //$('#btn_AddProductInOrder').text("加入購物車 (" + data.prodCount+ ")");
                            //window.location.href = "../";
                            $('#btn_shippingCart').text("購物車 (" + data.prodCount + ")");
                        }
                        else {
                            //fail case
                            var failMessage = "※提示：找不到符合您輸入的資料!";
                            $("#txt_Message").text("");
                            $("#txt_failMessage").text(failMessage);
                            console.log("note pass");
                        }
                        //$('#btn_AddProductInOrder').show();

                    }, //success
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr)
                        $("#txt_failMessage").text("發生未知錯誤");
                    }//error
                });
                return;
            }
            catch (err) {
                console.log("exception " + err);
                //btn_AddProductInOrder.show();
                $("#txt_failMessage").text("發生未知錯誤");
                return;
            }
        }

        btn_GetCount_click();
        function btn_GetCount_click() {
            try {
                console.log("ajax r/w data...");
                var surl = "../GetShoppingCart";
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",
                    success: function (data) {
                        console.log("get data")
                        console.log(data)

                        if (data.result == "PASS") {
                            console.log("PASS ");
                            console.log("prodCount " + data.prodCount);

                            $('#btn_shippingCart').text("購物車 (" + data.prodCount + ")");

                        }
                        else {
                            //fail case
                            $('#btn_shippingCart').text("購物車 (0)");

                        }

                    }, //success
                   error: function (xhr, ajaxOptions, thrownError) {
                       console.log(xhr)
                       $('#btn_shippingCart').text("購物車 (0)");

                    }//error
                });
                return;
            }
            catch (err) {
                console.log("exception " + err);
                //btn_AddProductInOrder.show();
                $("#txt_failMessage").text("發生未知錯誤");
                return;
            }
        }


        console.log("jquery end");
    </script>

}