@model VNW.Models.Product
@{
    ViewData["Title"] = "商品管理(店家)";
}
<h2>@ViewData["Title"]</h2>





<div>

    <hr />
    <h4>@Model.ProductName</h4>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)

            @if (Model.UnitsInStock <= Model.ReorderLevel || Model.UnitsInStock <= 0)
            {
                <span class="alert-danger">留意庫存, 請補貨</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discontinued)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
            (#@Html.DisplayFor(model => model.Category.CategoryId))
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Picture)</dt>
        <dd>
            @if (Model.Picture != null)
            {
                <img src="~/images/@Model.Picture"
                     style="width:200px; border:solid;border-width:1px;border-radius:5px;" />
            }
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>
            @Model.Description
        </dd>

    </dl>
</div>

@*<a class="btn btn-danger">下架</a>*@
<div >
    <a class="btn btn-primary btn-lg" asp-action="EditForShop" asp-route-id="@Model.ProductId">編輯(商家專用*)</a>
</div>


