@model VNW.Models.Product
@{
    ViewData["Title"] = "商品管理(店家)";
}
<h2>@ViewData["Title"]</h2>

<div>
    <h3 class="alert-info" id="td_serverMessage">@TempData["td_serverMessage"]</h3>
    <h3 class="alert-danger" id="td_serverWarning">@TempData["td_serverWarning"]</h3>
</div>


<a asp-action="Index" class="btn btn-success">返回清單(店家)</a>
<a asp-controller="Categories" asp-action="CategoryList" class="btn btn-info">商品分類(消費者)</a>
<a asp-action="Index" class="btn btn-default">返回前一頁</a>
<p/>
@*<div id="urlDebug">
    @{
        var currentUrl = ViewBag.currentUrl;
        <b>URL</b> @currentUrl <br />
        <b>Path</b> @ViewBag.currentPath <br />
        <b>Host</b> @ViewBag.currentHost <br />
        <b>Base</b> @ViewData["currentBase"]<br/>
    }
</div>*@

<div>
    <table class="table" id="table_data" style="max-width:70%;min-width:520px;">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.IsLocked)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsLocked)
                @if (Model.IsLocked)
                {
                    <h3 class="alert-danger">注意該商品已鎖定，正由授權者修正流程中</h3>
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProductName)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProductName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(model => model.QuantityPerUnit)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.UnitPrice)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </td>
            <td>
                @*@Html.DisplayFor(model => model.UnitsInStock)*@
                <span id="txt_Stock" style="font-size:20px;">@Model.UnitsInStock</span>

                <div style="border-width:1px;border-color:lightgray;border-radius:5px;max-width:300px;text-align:center;">
                    <b>快速進貨設定 <span style="color:mediumvioletred">(新測試功能)</span></b>
                    <div id="btn_showQuickFunction" class="btn btn-sm btn-success">></div>
                    <input type="number" id="num_addStock" value="1" class="form-control"
                           style="font-size:16px;text-align:center;margin:2px;width:90%;display:none;" />

                    @*style="font-size:16px;max-width:200px;text-align:center;border-radius:5px;border-width:1px;padding:4px;border-color:lightgray;"*@

                    <div class="btn btn-danger" id="btn_addStock" style="display:none;">直接只加庫存量</div>
                    @*<div class="btn btn-primary" id="btn_addTen">+10</div>*@
                    @*<div class="btn btn-warning" id="btn_addStock">加庫存量並減訂購</div>*@
                </div>

            </td>
        </tr>
        <tr>
            <td>
                @*@Html.DisplayNameFor(model => model.UnitsReserved)*@
                客戶預訂量
            </td>
            <td>
                @*@Html.DisplayFor(model => model.UnitsReserved)*@
                <span id="UnitsReserved" style="font-size:20px;">@Model.UnitsReserved</span>

                @if (Model.UnitsInStock < Model.UnitsReserved || Model.UnitsReserved < 0)
                {
                    <span class="alert-danger" id="warning_Overbooking">超賣(Overbooking)或異常</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </td>
            <td>
                @*@Html.DisplayFor(model => model.ReorderLevel)*@
                <span id="ReorderLevel" style="font-size:20px;">@Model.ReorderLevel</span>

                @if (Model.UnitsInStock <= Model.ReorderLevel || Model.UnitsInStock <= 0)
                {
                    <span class="alert-danger" id="warning_ReorderLevel">留意庫存, 請補貨</span>
                }
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(model => model.UnitsOnOrder)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(model => model.Discontinued)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Category)
            </td>
            <td>
                @Html.DisplayFor(model => model.Category.CategoryName)
                (#@Html.DisplayFor(model => model.Category.CategoryId))
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Picture)</td>
            <td>
                @if (Model.Picture != null)
                {
                    <img src="~/images/products/@Model.Picture"
                         style="width:200px; border:solid;border-width:1px;border-radius:5px;" />
                }
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Description)</td>
            <td>
                @Model.Description
            </td>
        </tr>

        <tr>
            <td>時間戳記</td>
            <td>
                <span id="txt_timeStamp" style="border:solid;border-width:1px;border-radius:2px;padding:2px;">
                    @Model.LastModifiedTime
                </span>
                <br />
                <span id="txt_rowVersion">
                    @if (Model.RowVersion != null)
                    {
                        @*@Convert.ToBase64String(Model.RowVersion)*@
                        foreach (var b in Model.RowVersion)
                        {
                            @b
                        }
                    }
                </span>
            </td>
        </tr>
    </table>
    <img src="~/images/loading.gif" id="img_loading" style="width:300px;display:none;"/>
</div>

<div>
    <a id="btn_EditForShop" class="btn btn-primary btn-lg" asp-action="EditForShop" asp-route-id="@Model.ProductId">編輯(商家專用*)</a>
    <a class="btn btn-info btn-lg" asp-action="Analysis" asp-route-id="@Model.ProductId">分析預購量</a>

    <a class="btn btn-info btn-lg" asp-action="SalesReport" asp-route-id="@Model.ProductId">銷售報告</a>

    @if ((string)ViewData["UserLevel"] == "1A")
    {
        <hr />
        <p>
            <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-danger btn-lg">編輯(管理者專用*)</a><br />
            <div>
                <a asp-action="Lock" asp-route-id="@Model.ProductId" class="btn btn-warning" target="_blank">強制鎖定 (Beta)</a>
                <a asp-action="Lock" asp-route-id="@Model.ProductId" asp-route-islock="0" class="btn btn-success" target="_blank">強制解鎖 (Beta)</a>
            </div>
        </p>
    }
</div>
<p />

@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");

        var btn_addStock = $('#btn_addStock');
        var num_addStock = $('#num_addStock');
        //var btn_addOne = $('#btn_addOne');
        var btn_addTen = $('#btn_addTen');
        var btn_showQuickFunction = $('#btn_showQuickFunction');

        btn_addStock.click(function () {
            console.log("add Stock " + num_addStock.val());
            $("#td_serverMessage").text("");
            $("#td_serverWarning").text("執行中...");
            SetBusy();
            var surl = "";
            //surl = "../QuickAddStock"; //ok for /39
            //surl = "QuickAddStock";  // ok for ?id=39
            surl = '@(ViewBag.currentHost+ViewBag.currentBase)/products/QuickAddStock';
            $.ajax({
                url: surl,
                type: "POST",
                dateType: "json",
                data: {
                    pid: @Model.ProductId,
                    qty: num_addStock.val()
                },
                success: function (data) {
                    console.log("get data")
                    console.log(data)
                    if (data.result == "PASS") {
                        console.log("PASS ");
                        $('#txt_timeStamp').html(data.timeStamp);
                        $('#txt_rowVersion').html(data.rowVersion);

                        $('#txt_Stock').html(data.newStock);
                        //$('#txt_Stock').focus();
                        $(window).scrollTop(0);
                        $('#td_serverMessage').html('已增量至' + data.newStock);                        
                        $("#td_serverWarning").text("");
                        //fadeout effect...


                        var ReorderLevel = @Model.ReorderLevel;
                        var UnitsReserved = @Model.UnitsReserved;
                        console.log("data.newStock: " + data.newStock);
                        console.log("ReorderLevel: " + ReorderLevel);
                        console.log("UnitsReserved: " + UnitsReserved);

                        if (ReorderLevel >= data.newStock) {
                            $("#warning_ReorderLevel").text("不足");
                        }
                        else {
                            $("#warning_ReorderLevel").text("");
                        }

                        if (UnitsReserved > data.newStock) {
                            $("#warning_Overbooking").text("超賣 (Overbooking)");
                        }
                        else if (UnitsReserved < 0) {
                            $("#warning_Overbooking").text("異常");
                        }
                        else {
                            $("#warning_Overbooking").text("");
                        }

                        SetReady();
                    }
                    else {
                        //::fail case
                        console.log("fail case");
                        $("#td_serverWarning").text("API未得到正確回應 " + data.detail);
                        SetReady();
                    }
                }, //success
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr)
                    $("#td_serverWarning").text("發生未知錯誤");
                    SetReady();
                }//error
            });
            
        });

        btn_addTen.click(function () {
            //console.log("add Stock " + num_addStock.val());
            var oldVal = num_addStock.val();
            num_addStock.val(+oldVal + 10); // '+' number increase
            if (num_addStock.val() >= 100) {
                num_addStock.val(100);
            }
        });

        num_addStock.change(function (event) {
            console.log('num change');
            if ($(this).val() <= 0) {
                //num_addStock.val(1);
                $(this).val(1);
                event.preventDefault(); // 阻止事件默認行為
                return false; // 結束事件處理
            }
            else if (num_addStock.val() >= 100) {
                //num_addStock.val(100);
                $(this).val(100);
                event.preventDefault(); // 阻止事件默認行為
                return false; // 結束事件處理
            }
        });

        function SetReady() {
            $('#table_data').show();
            $('#btn_EditForShop').show();

            $('#img_loading').hide();
            
        }
        function SetBusy() {
            $('#table_data').hide();
            $('#btn_EditForShop').hide();

            $('#img_loading').show();            
        }


        btn_showQuickFunction.click(btn_showQuickFunction_click);
        //btn_showQuickFunction_click();
        function btn_showQuickFunction_click() {
            //console.log("" + btn_showQuickFunction.text());
            if (btn_showQuickFunction.text() == "<") {
                btn_addStock.hide();
                num_addStock.hide();
                btn_showQuickFunction.text(">");
            }
            else {
                btn_addStock.show();
                num_addStock.show();
                btn_showQuickFunction.text("<");
            }
        }
        console.log("jquery end");
    </script>
}
