@model IEnumerable<OrderDetail>

@{
    ViewData["Title"] = "商品銷售報告";
    Product p = null;
}

<h3>@ViewData["Title"]</h3>


@if (ViewData["p"] != null)
{
    p = (Product)ViewData["p"];

    <a asp-action="ProductDetailForShop" asp-route-id="@p.ProductId" class="btn btn-info">回商品細節</a>

    <h4>商品資訊</h4>
    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Stock 庫存</td>
            <td>Reserved 目前預訂量</td>
            <td>可再下單數量</td>
        </tr>
        <tr>
            <td>
                #@p.ProductId
            </td>
            <td>
                @p.ProductName
                <img src="~/images/products/@p.Picture" style="width:80px; " /><br />
                @if (p.IsLocked)
                {
                    <br /><span class="alert-danger">已被鎖定</span>
                }
                @if (p.Discontinued)
                {
                    <br /><span class="alert-danger">已下架</span>
                }
            </td>
            <td>
                @p.UnitsInStock
            </td>
            <td><b style="font-size:20px;">@p.UnitsReserved</b></td>

            <td>@(p.UnitsInStock - p.UnitsReserved)</td>
        </tr>
    </table>
}


<h4>訂購記錄 @Model.Count()</h4>

<table class="table table-bordered table-hover table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td>Order Id</td>
            <td>Qty</td>
            <td>Price</td>
            <td>Status</td>
            <td>Create Date</td>
            <td>Customer</td>
            <td>小記</td>
        </tr>
    </thead>

    <tbody>
        @{
            int i = 0;
            int totalPriceSum = 0;
            int OrderFinished = 0;
            int QtyFinished = 0;
        }
        @foreach (OrderDetail item in Model)
        {
            string mask = "";
            int totalPrice = 0;
            bool iSNeedCal = false;
            <tr>
                <td>@(++i)</td>
                <td>@item.OrderId</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice</td>

                @if (item.Order != null)
                {
                    <td>
                        @if (item.Order.Status != OrderStatusEnum.Shipped)
                        {
                            mask = "alert-danger";
                        }
                        else
                        {
                            iSNeedCal = true;
                            mask = "";
                        }
                        <span class="@mask">
                            @item.Order.Status
                        </span>
                    </td>
                    <td>@item.Order.OrderDate</td>
                    <td>@item.Order.CustomerId</td>
                    <td>
                        @if (iSNeedCal)
                        {
                            totalPrice = item.Quantity * (int)item.UnitPrice;
                            totalPriceSum += totalPrice;
                            OrderFinished++;
                            QtyFinished += item.Quantity;
                        }
                        @totalPrice

                    </td>
                }

            </tr>
        }
    </tbody>
</table>

<h3>有效的訂單數: @OrderFinished <br />鎖售量: @QtyFinished (件)</h3>

<div style="text-align:right;">
    <h3>累加金額: @totalPriceSum</h3>
</div>


<a class="btn btn-warning btn-lg" asp-action="SalesReportTotal">總銷售報告(Alpah)</a>

