@*@model IEnumerable<VNW.Models.OrderDetail>*@
@model IEnumerable<VNW.ViewModels.TopProduct>

@{
    ViewData["Title"] = "Sales Report Total";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a class="btn btn-info">Weekly</a>
    <a class="btn btn-info">Monthly</a>
    <a class="btn btn-warning">All Status</a>
    <a class="btn btn-default">Cancelled Only</a>
</div>

<h4>銷售前20名商品 (依件數)</h4>

@*@Html.Raw(ViewBag.stemp)*@

@if (Model == null)
{
    <span>model is null</span>
    return;
}

@*@{ 
    IEnumerable<VNW.ViewModels.TopProduct>
        Model_sorted = Model.OrderByDescending(tx => tx.Pid);
}*@

<p>
    <h3>Count: @Model.Count()</h3>
</p>

@{ 
    int i = 0;
}
<table class="table table-bordered table-condensed table-responsive table-hover table-striped">
    <thead>
        <tr>
            <td>排名</td>
            <td>品名</td>
            <td>編號</td>
            <td>件數</td>
            <td>訂單數</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td><a asp-action="ProductDetailForShop" asp-route-id="@item.Pid"> @item.Name</a> </td>
                <td><a asp-action="SalesReport" asp-route-id="@item.Pid" class="btn btn-info"> 單項統計@("#"+item.Pid)</a> </td>
                <td>@item.Qty</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>
<hr/>
使用EF LINQ的方法:<br/>
<a asp-route-condition="1" asp-action="SalesReportTotal_EF" class="btn btn-default">EF 1* (Query Syntax)</a>
<a asp-route-condition="2" asp-action="SalesReportTotal_EF" class="btn btn-default">EF 2</a>
<a asp-route-condition="3" asp-action="SalesReportTotal_EF" class="btn btn-default">EF 3</a>
<a asp-route-condition="4" asp-action="SalesReportTotal_EF" class="btn btn-default">EF 4</a>
<a asp-route-condition="5" asp-action="SalesReportTotal_EF" class="btn btn-default">EF 5 (Join 3 table, Method Chain)</a>
<a asp-route-condition="6" asp-action="SalesReportTotal_EF" class="btn btn-default">EF 6* (Join 3 table group count, Method Chain)</a>
<a asp-route-condition="" asp-action="SalesReportTotal_EF" class="btn btn-default">EF (Default)</a>




