@*@model IEnumerable<VNW.Models.OrderDetail>*@

@model IEnumerable< VNW.Controllers.ProductsController.TopProduct>

@{
    ViewData["Title"] = "Sales Report Total";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a class="btn btn-info">Weekly</a>
    <a class="btn btn-info">Monthly</a>
    <a class="btn btn-warning">All Status</a>
    <a class="btn btn-default">Cancelled Only</a>
</div>

<h4>銷售前20名商品 (件數)</h4>

@*@Html.Raw(ViewBag.stemp)*@

@if (Model == null)
{
    <span>model is null</span>
    return;
}

<p>
    <h3>Count: @Model.Count()</h3>
</p>

@{ 
    int i = 0;
}
<table class="table table-bordered table-condensed table-responsive table-hover table-striped">
    <thead>
        <tr>
            <td>排名</td>
            <td>品名</td>
            <td>編號</td>
            <td>件數</td>
            <td>訂單數</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td>@item.Name</td>
                <td>@("#p00" + item.Pid)</td>
                <td>@item.Qty</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>



